.cat-justify p {
    text-align: justify;
    line-height: 180%;
}
.list1 li {
    display: block;
    background: #f9f9f9;
    padding: 10px;
}
.rewardsdet img {
    padding-bottom: 0;
}
.profile {
    padding: 0px 0px 10px 30px;
    border-left: 1px solid #bbbbbb;
}
.profiledet {
    padding: 25px 10px 0px 90px;
}
.pull-left.profileimg {
    padding: 10px 10px 0px 15px;
}
.name p {
    color: #c3c3c3;
}
.name {
    padding: 20px 0px 40px 0px;
}
.name p {
    color: #888888;
}
p.NGOName {
    padding: 0px 0px 0px 100px;
    color: #999fa2;
}
.main1 {
    padding: 0px 0px 30px 0px;
}
.col-md-3.LeftCont {
    /* margin: -256px 0px 0px 0px !important; */
    background: #f9f9f9;
    border: #f9f9f9;
    margin: 0px 0px 0px 0px;
}
.profile {
    margin: 20px 0px 0px 0px;
}
.rewardsdet {
    margin: 20px 0px 0px 0px;
}
.list-inline a {
    color: #858585;
}
.cat-heart {
    background: url(../images/category.png) no-repeat;
    height: 27px;
    width: 30px;
    background-position: -32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
/*category hover*/

.pagecategory .active .cat-heart,
.pagecategory li:hover .cat-heart {
    background-position: 0px;
}
ul.pagecategory {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.pagecategory li {
    padding: 15px 10px 3px;
}
.pagecategory a {
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
/*
.pagecategory .active,
.pagecategory li:hover {
    background: #ffc926;
}
*/

.pagecategory .active a,
.pagecategory li:hover a {
    color: black;
    background: #ffc926;
}
.contentexplorestuck li {} .contentexplorestuck {
    background: #f9f9f9;
    border-bottom: 1px solid #efefef;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.connectfacebook {
    position: relative;
}
.connectbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    width: 70%;
    height: 50%;
}
.connectbutton p {
    padding: 190px 0px 0px 250px;
    color: #111111;
    font-size: 025px;
    float: left;
    bottom: 24%;
    left: -21%;
    position: absolute;
}
.connectbutton button {
    width: 200px;
    background: #4274b7;
    border: #4274b7;
    color: white;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 4%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.causes {
    margin: 15px;
    padding: 12px;
    border: 1px solid lightgray;
}
.pic {
    margin: -12px;
}
.causes .pic img {
    margin: auto;
    width: 100%;
    position: relative;
}
.causes h3 {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 12px 0 10px;
}
.causes .info {
    color: gray;
    text-align: center;
}
.causes .info h5 {
    font-weight: bold;
    color: #b2b7b9;
    display: inline-block;
    margin-top: 5px;
}
.causes .info .elements {
    background-color: #f9f9f9;
    height: 120px;
    padding-top: 15px;
    margin: auto -12px auto -12px;
    font-size: 12px;
}
.causes .info .elements .circle {
    border: 5px solid;
    border-color: #a3d900;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    margin-top: 11px;
    width: 60px;
    margin-left: 13%;
}
.causes .info .elements .txt2 {
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
    color: black;
}
.causes .info .elements .txt3 {
    font-weight: bold;
    font-size: 12px;
    color: black;
    margin-top: 30px;
}
.causes .info .elements .txt3 {
    font-weight: bold;
    font-size: 12px;
    color: black;
    margin-top: 13px;
    padding-right: 0;
}
.view1 {
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}
.author {
    margin: 3% 4%;
    float: right;
}
.author .cont {
    font-size: 14px;
    color: #b2b2b2;
    margin: 35px 0 0;
    line-height: 180%;
}
/*faguni css*/

.works {
    padding-right: 15px;
}
.register a {
    background: #00c8c8;
    color: #fff;
    margin: 20px 0px 0px 0px;
    padding: 10px 16px 8px 15px;
    text-transform: capitalize;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.register {
    margin: 30px 0px 0px 0px;
}
body {
    background: #ffffff;
}
.Login {
    padding-left: 10px;
    color: #a3a3a3;
    margin: 30px 0px 0px 0px;
}
body .navbar-brand,
body .navbar-default .navbar-nav > li > a {
    /* color: black; */
    text-shadow: none;
    text-transform: uppercase;
}
.proceed_1 a {
    background: #ff8000;
    color: #fff;
    margin: 0px 0px 0px 155px;
    padding: 13px 21px 13px 23px;
    text-transform: capitalize;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
a.list-group-item.active {
    background: #ffbf00;
    color: #fff;
}
a.list-group-item {
    color: #21cbcb;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 14px 0px 10px 14px;
    margin-bottom: -1px;
    border: 0px solid #ddd;
}
.cate {
    /* margin: 11px -18px 0px 0px; */
}
a.list-group-item:hover,
a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #ffbf00;
}
.list-group-item:first-child {
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
}
body .navbar-default .navbar-nav > .open > a,
body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a:hover,
body .navbar-default .navbar-nav > .active > a:focus,
body .navbar-default .navbar-nav > li > a:hover,
body .navbar-default .navbar-nav > li > a:focus {
    background: transparent;
    /* color: black; */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.login1 {
    color: #000;
    margin: 30px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 0px 0 #286090;
}
/*
.header
{
   
    border-top: 3px solid #ffc926;
    border-bottom: 1px solid #bbbbbb;
    
}
*/

.pick a {
    background: #65c6bb;
    color: #fff;
    /* margin: 0px 0px 0px 100px; */
    padding: 13px 12px 9px 10px;
    text-transform: capitalize;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}
.head-cont {
    margin: 0px 15px 0px 15px;
}
.pick {
    text-align: center;
    /* margin: -13px 0px 0px 24px; */
}
.one {
    background: #f9f9f9;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px 11px 10px 11px;
    margin: 20px 0px 0px 0px;
    border: 1px solid #e6e6e6;
}
.readterms {
    font-size: 12px;
}
a.readterms {
    color: #ffbf00;
}
.box-tag {
    color: #111111;
    padding: 5px 0px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-weight: 100;
}
.expiry {
    color: #747070;
}
.date {
    color: #34495e;
    font-weight: bold;
}
.box-rupee {
    font-size: 25px;
}
.cls1 {
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}
.proceed_1.pull-right {
    margin: 20px 20px 10px 10px;
}
i.fa.fa-plus {
    border-right: 1px solid #fff;
    padding: 4px;
    padding-right: 10px;
    margin-right: 10px;
}
.right.pull-right {
    padding: 15px 0px 0px 0px;
}
.save-text {
    font-size: 10px;
    line-height: 10px;
    color: #919bac;
    margin-left: 10px;
}
.price span {
    color: #919bac;
    font-size: 14px;
    font-weight: 400;
    vertical-align: text-top;
}
.price {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 20px;
    margin-top: -5px;
}
.expiry {
    margin: 0;
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-weight: 700;
    color: #34495e;
    padding-right: 30px;
}
.expiry span {
    color: #919bac;
    font-weight: 400;
}
.fa.pull-right {
    margin-left: .3em;
    padding-right: 10px;
}
.description-bill-amount {
    font-size: 12px;
    color: #111111;
    margin-bottom: 5px;
    line-height: 12px;
    margin-top: 5px;
    font-weight: 400;
}
a.list-group-item:hover,
a.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ffbf00;
}
span.icon.fa.fa-check.pull-right {
    color: #fff;
}
.list-group-item:last-child {
    borders-radius: 0px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 0px 0 #286090;
    background: #ffbf00;
}
.figure {
    position: relative;
    margin: 10px;
}
.figure-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.donation input.form-control {
    background: #f9f9f9;
    border: 2px solid #e4e7e8;
}
.donation .btn {
    margin-top: 0px !important;
    background: rgb(77, 213, 232);
    border: rgb(77, 213, 232);
    padding: 7px;
}
.learnmore {
    margin: 25px 0px 0px 0px;
}
.apply button.btn.btn-warning {
    background-color: #ffc926;
    border: #ffc926;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 12px;
}
.figure-img {
    position: absolute;
    top: 35%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.check input[type="checkbox"] {
    border: 2px solid rgb(77, 213, 232);
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    margin-top: 18px;
}
input[type="checkbox"]:checked {
    background: url(../images/checked23.png) no-repeat center;
    border: 2px solid rgb(77, 213, 232);
}
.list1 .cat-list:hover {
    background-color: #ffc926;
}
.titleCenter {
    text-align: center;
    color: white;
}
.header1 {
    border-top: 3px solid #ffc926;
    border-bottom: 1px solid #bbbbbb;
    padding: 15px 0px 0px 0px;
}
.sliderheader {
    background: url(../images/bg_layer.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    min-height: 220px;
    width: 100%;
}
ul.list1 {
    padding: 0px 0px 0px 0px;
}
img.starter-template.img-responsive.imhheight {
    min-width: 100%;
}
.left {
    padding: 10px 0px 0px 0px;
}
.cate {
    padding: 20px 0px 0px 0px;
}
.headmargin.pull-right a {
    color: white;
}
.header-black .nav>li>a,
.header-black .login {
    color: black !important;
}
.header.header-black {
    border-top: 5px solid #ffc926;
    border-bottom: 1px solid #bbbbbb;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
}
h2.ng-scope {
    text-align: center;
    padding: 100px;
    font-size: 70px;
}
p.viewAll {
    text-align: center;
    margin: -25px 0px 0px 0px;
}
.row.mainCause {
    margin: 35px 0px 0px 0px;
}
p.Paraabout {
    padding: 15px 0px 15px 0px;
}
.apply {
    margin: 0px 0px 15px 0px;
}
p.abotuspar {
    margin: 15px 0px 0px 0px;
}
input#inputEmail {
    margin: 10px 0px 10px 0px;
}
ul.list1 {
    border: 1px solid #efefef;
}
.bottom1 .row {
    margin: 30px 0px 0px 0px;
}
p {
    text-align: justify;
}
.txt3 span {
    margin: 10px;
}
.row.rewardrow {
    margin: 0px 0px 30px 0px;
}
p.parapadding {
    padding: 10px 0px 10px 0px;
}
.mumbai-in {
    position: absolute;
    color: white;
    bottom: 5px;
    right: 0%;
    width: 100%;
    text-align: center;
}
.pic img {
    position: relative;
}
.list-inline p {
    text-align: center;
}
.mumbai-in h5 {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -9px;
    font-size: 13px;
}
h2.commingsoon {
    text-align: center;
    padding: 100px;
    font-size: 40px;
}
.pic img {
    position: relative;
}
.mumbai-in h4 {
    font-size: 14px;
}
.fixhead {
    height: 88px;
}
.exploreheader.ng-scope {
    height: 60px;
}
.col-md-3.causehelped {
    color: #65c6bb;
}
.headerhome {
    background: black;
    opacity: 0.4;
    height: 500px;
}
.col-md-3.totaldonate {
    color: #ffd65c;
}
.col-md-3.JoinedPfo {
    color: #e0882f;
}
ul.mypro {
    list-style: none;
    padding: 0;
}
.mypro li {padding: 6px;
    border-radius: 3px;}
.mypro li:hover,
.mypro li.active {
    background: #f9f9f9;
}
.mypro li+li {
    margin-top: 10px;
}
.elements.row {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.info h5 {
    margin: 20px;
}
.helpout button {
    position: absolute;
    bottom: 80%;
    width: 100px;
    left: 35%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffc926;
    border: 1px solid #ffc926;
    padding: 6px;
    color: white;
    font-size: -10px;
}
.info p {
    font-size: 12px;
    text-align: center;
}
p.Funded {
    color: #494949;
    font-size: 12px;
    margin: 0;
}
.head-on.home {
    margin: 7% auto;
    width: 40%;
    margin-top: 156px;
}
.name p {
    text-align: left;
    font-size: 13px;
}
.subbtn {
    background: #FFC926;
    border: 1px solid #FFC926;
    font: inherit;
    color: white;
    padding: 12px 25px 10px;
}
.form-horizontal input {
    font: inherit;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid darkgrey;
    display: block;
    margin: 10px auto;
    font-size: 0.9em;
    font-weight: 300;
    outline: 0 !important;
}
.formprarmy h2 {
    font-size: 25px;
    padding: 5px 0 7px 0px;
    text-align: left;
    text-transform: uppercase;
}
img.log {
    margin: 15px 0px 0px 0px;
}
.sliderheadercampaign {
    background: url(../images/bg_layer.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: 100%;
}
.short h2 {
    text-align: center;
    color: white;
    margin: 53px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 44px;
}
.datapoint .col-md-4 {
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: white;
    padding-left: 89px;
    padding-right: 94px;
}
.explore p {
    text-align: center;
    margin: 0px;
    font-size: 21px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 53;
}
.explore {
    text-align: center;
}
.explore .fa {
    font-size: 20px;
}
img.Salaamlogo {
    -webkit-transform: translate(0%, -20%);
    -moz-transform: translate(0%, -20%);
    -ms-transform: translate(0%, -20%);
    -o-transform: translate(0%, -20%);
    transform: translate(0%, -20%);
}
.salammum p {
    text-align: center;
    padding: 0px 110px 0px 0px;
}
p.ngoname {
    color: #3fd4d4;
}
.tata {
    padding: 10px 0px 0px 0px;
}
p.suppoerted {
    margin: 60px 0px 12px 0px;
}
.tata p {
    text-align: center;
    padding: 0px 121px 0px 0px;
}
img.tat {
    padding: 0px 0px 0px 11px;
}
p.contributionimg {
    font-size: 42px;
    position: absolute;
    left: 55%;
    top: 8002%;
}
p.txt5 {
    color: #00c8c8;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10px;
    text-align: center;
}
.txt3 {
    padding: 15px 42px 15px 0px;
}
/*
.donation select {
    height: 35px;
    width: 90px;
    border: 2px solid #e4e7e8;
    -webkit-appearance: none;
    background: url(../images/dropdownicon.png) no-repeat #f9f9f9;
    background-position: 64px 9px;
    background-size: 15px;
}
*/

select.recurring {
    margin: -19px 0px 0px 20px;
    height: 20px;
    width: 192px;
    border: none;
    background: #dedede;
    color: #fff;
    font-size: 12px;
}
 {} {} .anonynimous input[type="checkbox"] {
    margin-top: 2px;
}
.txtpleded {
    font-size: 24px;
}
.txtcategories {
    font-size: 19px;
}
.contribution img {
    position: absolute;
    bottom: 10%;
    opacity: 0.8;
    top: 21px;
    left: -101px;
    height: 145px;
    width: 368px;
}
.contribution h6 {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 31px;
    left: -29px;
    color: #fff;
    font-size: 14px;
    padding: 24px 0px 0px 57px;
    font-weight: 300;
}
.datapoint1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 38px auto;
    width: 50%;
    text-align: center;
}
.img1 {
    margin: auto;
}
.img1 p {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
label.anonynimous {
    margin-top: 0px;
}
.share span {
    padding: 10px;
}
.txt4 {
    margin: 10px 0px 0px 0px;
}
.share {
    font-weight: 800;
    font-size: 23px;
    margin: 10px 0px 10px 0px;
}
.Bordr h4 {
    font-size: 16px;
}
.txtpleded b {
    font-size: 17px;
}
span.shares {
    font-weight: normal;
}
.donation {
    margin: 0px 0px 10px 0px;
}
.check h5 {
    font-weight: 300;
}
h5.keepit {
    margin: 1px;
}
.sliderside {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    overflow-x: hidden;
}
.flexside img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    height: 550px;
    width: auto;
}
.flexside:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    position: relative;
}
.flexside {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.flexside:hover {
    -webkit-flex-basis: 4%;
    -ms-flex-preferred-size: 4%;
    flex-basis: 4%;
}
object.embed-responsive-item {
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
}
.headerzindex {
    z-index: 1;
}
.whiter {
    background: white;
}
.relativetxt {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 50%;
    color: white;
    width: 100%;
}
.relativeimg {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 0%;
    bottom: 0%;
    width: auto;
}
.relativetxt p {
    font-style: normal;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.subbtn:hover {
    border: 1px solid fff #FFC926;
    color: #FFC926;
    background: #fff;