@media screen and (max-width: 1000px) {
    .bottom1 .causes {
        width: 60%;
        margin: 10px auto !important;
    }
    .head-on.home {
        width: 80%!important;
    }
    .navbar-toggle {
        margin-right: -50px;
    }
    body .cont52 {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
    img.logtext {
        padding: 10px 0px 0px 50px;
    }
/*
    .helpbox {
      width: 65%;
      margin: 0 auto 30px auto!important;
  }
*/
    .salammum p {
        text-align: center!important;
        padding: 0!important;
    }
    .sliderheader {
        background-position-y: -40px!important;
    }
    body .head-on h3 {
        margin-top: 20%;
    }
    .signinor {
        background: none!important;
        width: 100%;
        padding-right: 0px;
    }
    .salammum img {
        position: relative;
        left: 50%;
        -webkit-transform: translatex(-50%)!important;
        -moz-transform: translatex(-50%)!important;
        -ms-transform: translatex(-50%)!important;
        -o-transform: translatex(-50%)!important;
        transform: translatex(-50%)!important;
    }
    .contribution {
        width: 80%;
        left: 50%;
        -webkit-transform: translatex(-50%)!important;
        -moz-transform: translatex(-50%)!important;
        -ms-transform: translatex(-50%)!important;
        -o-transform: translatex(-50%)!important;
        transform: translatex(-50%)!important;
        position: relative;
    }
    .contribut {
        width: 70%;
        margin: 0 auto;
    }
    .paragraph {
        width: 90%;
        margin: 0 auto;
    }
    .gallery_div {
        width: 95%;
        margin: 0 auto;
    }
    .LeftCont {
        width: 65%;
        margin: 20px auto 0 auto!important;
    }
    body .LeftCont .circle {
        margin: 10px auto!important;
    }
    .faq_team .col-md-4 {
        text-align: center;
    }
    .blog_img {
        width: 100%!important;
        height: auto;
    }
    .im-checkout-btn.btn--light {
        width: 90%!important;
        margin: 0 auto!important;
    }
    .contri_time {
        width: 90%!important;
    }
    .donation select.form-control.selectbg {
        width: 51%;
    }
    .give-btn {
        margin: -1px 8px 0 14px;
    }
    .salammum p {
        width: 165px;
        margin: auto;
    }
}

@media screen and (max-width: 550px) {
    .bottom1 .causes {
        width: 90%!important;
        margin: 10px auto !important;
    }
    .gallery_width {
        height: auto;
    }
    .gallery_width {
        height: 290px!important;
    }
    body .head-on h3 {
        margin-top: 25%;
    }
    .galleryimg img {
        height: 290px!important;
    }
    .thunderheart .list-inline li {
        display: block!important;
    }
    .thunderheart .list-inline {
        display: block!important;
    }
    .head-on.home p {
        padding-bottom: 0!important;
        font-size: 12px;
    }
    .text-right.pad-up {
        padding: 15px 0;
        float: none!important;
        text-align: center;
    }
    .head-on h3 {
        font-size: 20px;
    }
    #video {
        width: 100%;
    }
    .relativetxt p {
        font-size: 10px;
    }
    .exp-menus {
        padding: 7px 8px;
    }
    img.logtext {
        padding: 10px 20px!important;
    }
    .ychoseus p {
        font-size: 32px!important;
    }
    .LeftCont {
        width: 90%;
        margin: 20px auto 0 auto!important;
    }
    .head-on.home {
        margin: 3% auto;
    }
    body .head-on h3 {
        font-size: 20px;
    }
    .col-md-6.pull-left.pad-up {
        float: none!important;
    }
    body .rights {
        text-align: center;
    }
    .terms a {
        font-size: 12px;
    }
    .contribution {
        width: 100%;
    }
    .contri_time {
        width: 100%!important;
    }
    .contribut {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .contribution {
        width: 100%;
    }
    .contribut {
        width: 100%;
    }
}