<article>
    <div class="main1">
        <div class="container">
            <div class="row">

                <div class="row middle">
                    <div class="col-md-3">
                        <div class="ListHead">
                            CATEGORY
                        </div>


                        <ul class="list1">
                            <li class="cat-list"><a href="#">CATEGORY</a></li>
                            <li class="cat-list"><a href="#">CATEGORY</a></li>
                            <li class="cat-list"><a href="#">CATEGORY</a></li>

                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="cat-justify">
                            <h2>CATEGORY</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>