<div class="TopDiv">
</div>
<article>
    <div class="main1">
        <div class="container">
            <div class="row col-md-9">
                <div class="mid_top">
                    <div class="salaam">
                        <img src="images/salaam_bombay.png" margin-top="-50px">
                    </div>
                    <div class="Top_Tata">

                        Supported By :
                    </div>
                    <img src="images/tata1.png">

                    <!--                         style="display: inline-block;"-->
                    <div class="Top_text">
                        <div class="blur">2x</div>
                        Your Contribution Wiill Be <span class="Yelow">Doubled</span> By Tata Who Also Support This Cause.
                    </div>
                </div>
                <div class="containt1">
                    <h2>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h2> by <span class="ngoname">NGO NAME</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker"></i>&nbsp;Mumbai
                    <h3>OVERVIEW</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                    <h3>WHY?</h3> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                </div>
            </div>
            <aside>
                <div class="col-md-3 LeftCont">
                    <h4>FUNDED </h4>
                    <div class="circle">
                        <div class="txt2">230%</div>
                    </div>
                    <div class="Bordr">
                        <h4>PLEDGED</h4>
                        <div class="txt3">Rs. 2,30,542</div>
                    </div>
                    <div class="Bordr">
                        <h4>DAYS LEFT</h4>
                        <div class="txt3">24</div>
                    </div>
                    <div class="Bordr">
                        <h4></h4>
                        <div class="txt3">DONATE</div>
                    </div>
                    <div class="donation">
                        <input type="text" class="form-control" placeholder="Rs. 00">
                        <span><button type="button" class="btn btn-info" > GIVE</button></span> 

                    </div>
                    <div class="checkbox check">
                        <label>
                            <input type="checkbox">Make a Recurring Donation</label>
                        <label>
                            <input type="checkbox">Keep It Anonymous</label>
                    </div>
                    <span class="t1"> Remember, your donation will be doubled by</span>
                    </br>
                    <div class="icon1">
                        <img src="images/tata_icon.png" height="40px" width="40px">
                    </div>
                    <div class="Bordr"></div>
                    <div class="txt3"><span><img src="images/share.png" alt=""></span>SHARE</div>
                    <div class="txt4">102</div>
                    <span class="shares"> Shares</span>
                    </br>
                    <div class="sharebtn">
                        <button type="button" class="btn btn-primary"><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp; Share on Facebook</button>
                        <button type="button" class="btn btn-info"> <i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Tweet on Twitter</button>
                    </div>
                    <div class="Bordr">

                    </div>
                    YOUR FRIENDS WHO HELPED
                    <div class="frnds">
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                    </div>
                </div>
            </aside>


        </div>
    </div>
</article>
<div class="container">

    <div class="row ">
        <div class="ychoseus">
            <p>SIMILAR CAUSES.</p>
            <div class="hrl"></div>
        </div>

    </div>
    <div class="bottom1">
        <div class="row">
            <div class="view">(View All)</div>
            <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        <i class="fa fa-map-marker"></i>&nbsp;
                        <h5>Mumbai, IN</h5>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        <i class="fa fa-map-marker"></i>&nbsp;
                        <h5>Mumbai, IN</h5>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        <i class="fa fa-map-marker"></i>&nbsp;
                        <h5>Mumbai, IN</h5>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--             End of causes -->
 <div class="author row">
                    <div class="col-md-2 text-center">
                        <img src="images/face.png" class="img-responsive">
                    </div>
                    <div class="col-md-10">
                        <div class="cont">
                            "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                        </div>
                    </div>
                </div>

</div>
<!--          End of bottom   -->
</div>
</div>

</div>
</div>
