  <div class="contentexplorestuck">
        <div class="container">
            <ul class="list-inline pagecategory">
                 <li class="active"><a href="#" ><i class="cat-heart"></i>Active category</a></li>
                 <li ><a href="#" ><i class="cat-heart"></i>Active category</a></li>
                 <li class="active"><a href="#" ><i class="cat-heart"></i>Active category</a></li>
                 <li ><a href="#" ><i class="cat-heart"></i>InActive category</a></li>
                 <li ><a href="#" ><i class="cat-heart"></i>InActive category</a></li>
                
            </ul>
        </div>
    </div>

    <div class="contentexploreStuck">
        <div class="container">
            <div class="row">

             <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img  src="images/explore.jpg">
                     <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                       
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                        <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                        <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                         <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
    
    <div class="contentexploreStuck">
        <div class="container">
            <div class="row">

                 <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                        <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                        <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        </br>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                  <div class="col-md-4">
                <div class="causes">
                    <div class="pic">
                        <img src="images/explore.jpg">
                        <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium,</br>
                        <h5>NGO NAME</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="images/tata_icon.png">
                        </br>
                        <div class="elements">
                            <div class="col-md-4">
                                FUNDED
                                <div class="circle">
                                    <div class="txt2">230%</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                PLEDGED
                                <div class="txt3">Rs. 2,30,452</div>
                            </div>
                            <div class="col-md-4">
                                DAYS LEFT
                                <div class="txt3">24</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
    
 <img src="images/connect.jpg" class="img-responsive" style="width: 100%">
 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ychoseus">
                    <p>CONNECT</p>
                    <div class="hrl"></div>
                </div>
            </div>
        </div>
</div>
 
<div class="connectfacebook">
  <div class="pull-left"><p><b>Discover Great Projects<br> with Your <span style="color:#4274b7">Friends!</span> </b></p></div>
  <div><button>Connect with facebook</button></div>
    
</div>
 