@import "elements.less";
@path-fonts: '../fonts';
@path-media: '../images';

@font-face {
    font-family: 'Gotham';
    src: url('@{path-fonts}/Gotham-Book.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url('@{path-fonts}/Gotham-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('@{path-fonts}/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('@{path-fonts}/Gotham-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Satisfy';
    src: url('@{path-fonts}/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hello Goodbye';
    src: url('@{path-fonts}/hellogoodbye.otf') format('truetype');
}

@base: #fff;
@bgcolor: #fff;
@lightblack: #222;
@lighterblack: #6F6F6F;
@color: #99801a;
@gray: #b2b2b2;
@teal: #05c7c7;
@ListTxt: @teal;
@font-size: 12px;
@font-body: 'Gotham',sans-serif;
@font-satisfy: 'Satisfy',sans-serif;
@font-hello: 'Hello Goodbye',sans-serif;
@width: 6%;
@border: 4px solid @teal;
@line-height: 180%;

.transition { transition: all 300ms ease; }

body {
    a:hover { text-decoration: none; }

    margin: auto;

    .btn { text-shadow: none; }

    .wholebody { background-color: @bgcolor; }

    p { font-weight: 300; }

    font-weight: 300;
    background-color: @base;
    font-family: @font-body;

    .logo1 { padding: 10px; }

    .main1 { background-color: @base; }

    .header {
        .hr {
            border-top: @border;
            margin-top: 0px;
            width: 100%;
        }

        .slider {
            background: url(../images/bg_layer.png) no-repeat center;
            background-size: cover;
            background-position: top;
            min-height: 500px;
            width: 100%;
        }

        .content-page { min-height: 250px; }

        .explore {
            font-family: @font-body;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            margin-left: 13px;
        }

        .headmargin { margin-top: 30px; }

        .login:hover { background: @ListTxt; }

        .login {
            font-family: @font-body;
            font-size: 14px;
            color: #fff;
            padding: 10px 10px;
            border-radius: 3px;
            font-weight: 500;
            .transition();
        }

        .logo { margin-top: 10px; }

        .log { padding-left: 7px; }

        .btn.btn-default {
            background: @ListTxt;
            margin-left: 60px;
            border: @ListTxt;
            color: #fff;
            font-size: 12px;
            .transition();
        }

        .headtext { margin-top: 70px; }

        .headtext button {
            background: rgba(0, 0, 0, 0.4);
            color: #fff;
            position: relative;
            top: 128px;
            right: 436px;
        }
    }

    .tiles {
        margin: 10px;
        height: 1300px;

        .imgmarg img { padding-bottom: 30px; }

        img {
            margin: auto;
            width: 100%;
        }
    }

    .learn {
        height: auto;

        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            margin: auto;
        }

        .learnbtn {
            z-index: 2;
            position: relative;
            margin: 185px auto 100px 600px;

            .btn {
                display: inline-block;
                padding: 2% 2%;
                margin-bottom: 0;
                font-size: 22px;
            }
        }
    }

    .grid {
        background: url(../images/fullblock.png) no-repeat center;
        background-size: cover;
        width: 100%;
    }

    .grid1 {
        background: url(../images/fullblock.png) no-repeat center;
        background-color: white;
        height: 450px;
        background-size: 100%;

        img { position: absolute; }

        .gridcont {
            margin: 180px 150px auto 260px;
            display: inline-block;
            width: 910px;

            .connect1 {
                font-size: 38px;
                font-weight: bold;
                float: left;

                .friends { color: #4274b7; }
            }

            .face {
                margin: 3.3% auto auto 60%;

                .btn-lg, .btn-group-lg .btn { padding: 16px 16px; }
            }
        }
    }

    .bottommenu {
        background-color: @lightblack;

        .wrap {
            h5 {
                font-weight: bold;
                font-size: 15px;
            }

            .properfont {
                line-height: @line-height;
                font-size: @font-size;
            }

            p { .properfont(); }

            margin: 25px auto;
            color: white;

            .best { color: @ListTxt; }

            .time {
                color: #474d4f;
                font-style: italic;
            }

            .time1 { color: #909090; }

            .last { margin-top: 35px; }

            ul li a:hover { color: @ListTxt; }

            ul li a {
                color: @gray;
                .properfont();
                .transition();
            }
        }
    }

    .rights { color: @gray; }

    a .foot {
        background-color: white;

        .logo2 {
            height: 65px;
            margin: 15px auto 10px 100px;
        }

        p {
            font-weight: bold;

            a {
                color: black;

                .privcy { color: @teal; }
            }
        }

        .alin { margin-top: 35px; }
    }

    .ychoseus p {
        font-size: 45px;
        font-weight: bolder;
        color: #000;
        text-align: center;
        margin-top: 24px;
        text-transform: uppercase;
    }

    .ychoseus {
        margin-top: 0px;

        .hrl {
            text-align: center;
            border-bottom: @border;
            width: @width;
            margin: 0 auto 20px auto;
        }
    }

    //    style for about us & pfo army
    .AbtUs {
        text-align: center;
        color: @base;
        margin: 50px auto 50px auto;
    }

    .middle {
        margin-top: 10px;

        .ListHead {
            color: white;
            background-color: @teal;
            height: 30px;
            padding-left: 15px;
            padding-top: 5px;
            margin-top: 25px;
        }

        .list1 {
            color: @ListTxt;
            background-color: @bgcolor;
            //            padding: 15px;
        }

        .btn { width: 100%; }
    }

    //    campaign1
    .containt1 {
        //font-family: Myriad Pro,sans-serif;
        width: 90%;
        margin-left: 0px;
        font-size: 16px;

        h2 {
            font-weight: bold;
            font-size: 30px;
        }

        .ngoname {
            color: @ListTxt;
            font-weight: bold;
        }
    }

    .TopDiv { height: 180px; }

    .mid_top {
        height: 100px;
        margin-top: 10px;

        .salaam {
            margin-top: -85px;
            width: 180px;
            float: left;
        }

        .Top_text {
            font-weight: bold;
            width: 200px;
            font-size: 17px;
            position: relative;
            z-index: 2;
            margin-top: 15px;
            text-align: center;
            float: right;
            display: inline-block;
            margin-right: 130px;

            .Yelow { color: #ffc926; }

            .blur {
                margin: -20px auto auto 60px;
                font-size: 70px;
                position: absolute;
                z-index: 1;
                opacity: 0.3;
                color: #fcac02;
            }
        }

        .Top_Tata {
            display: inline-block;
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .LeftCont {
        background-color: @bgcolor;
        text-align: center;
        margin-top: 20px;
        width: 300px;
        border: 1px solid;
        border-color: lightgray;

        .txt2 {
            font-weight: bold;
            font-size: 23px;
            margin-top: 30px;
        }

        .txt3 {
            font-weight: bold;
            font-size: 23px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .txt4 {
            color: @ListTxt;
            font-weight: bold;
            font-size: 23px;
            margin-top: 10px;
        }

        .Bordr {
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px solid;
            width: 75%;
            margin-left: 12%;
        }

        .circle {
            border: 8px solid;
            border-color: #a3d900;
            border-radius: 50px;
            height: 100px;
            width: 100px;
            margin-left: 32%;
        }

        .check {
            text-align: left;
            margin-top: -13px;
            padding-left: 10%;

            label {
                margin-left: 10px;
                padding: 10px;
            }

            input.checkbox {
                width: 3em;
                height: 1em;
            }
        }

        .t1 {
            color: @ListTxt;
            font-weight: normal;
            font-size: 12px;
        }

        .icon1 { margin: 20px; }

        .shares { font-size: 12px; }

        .frnds {
            height: 100px;
            width: 80%;
            margin-left: 6%;
            margin-top: 20px;

            .circ1 {
                margin-left: 10%;
                float: left;
            }
        }
    }

    .donation {
        .form-control {
            display: inline-block;
            width: 50%;
            height: 34px;
            border-radius: 0px;
            margin-right: 0px;
        }

        .btn {
            width: 30%;
            margin: 0px;
            margin-top: -4px;
            margin-left: -7px;
            border-radius: 0px;
            outline: none;
        }
    }

    .sharebtn .btn {
        border-radius: 2px;
        width: 70%;
        margin-top: 15px;
        outline: none;
    }

    .bottom1 {
        margin: 0px auto;

        .view {
            text-align: center;
            margin: 10px auto 25px auto;
            font-style: italic;
        }

        .causes {
            margin: 15px;
            padding: 12px;
            border: 1px solid lightgray;

            .pic img {
                margin: auto;
                width: 100%;
            }

            .info {
                color: gray;
                text-align: center;

                h5 {
                    font-weight: bold;
                    color: #b2b7b9;
                    display: inline-block;
                    margin: 0px 10px 0 0;
                }

                .elements {
                    background-color: #f9f9f9;
                    height: 105px;
                    padding-top: 10px;
                    margin: 10px -12px auto -12px;
                    font-size: 12px;

                    .circle {
                        border: 5px solid;
                        border-color: #a3d900;
                        border-radius: 30px;
                        height: 60px;
                        margin-top: 5px;
                        width: 60px;
                        margin-left: 13%;
                    }

                    .txt2 {
                        font-weight: bold;
                        font-size: 12px;
                        color: black;
                        text-align: center;
                        padding-right: 0;
                    }

                    .txt3 {
                        .txt2();
                        margin-top: 11px;
                    }
                }
            }
        }

        .cont {
            font-size: 14px;
            color: @gray;
            margin: 35px 0 0;
            line-height: @line-height;
        }
    }

    //    end
    .thunderheart {
        p {
            margin-top: 25px;
            font-weight: bold;
            font-size: 12px;
            font-weight: 300;
        }

        ul {
            list-style: none;
            display: inline-flex;

            li {
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .nav-custom {
        background: transparent;
        border: 0px;
        margin-top: 10px;
        box-shadow: none;
    }

    .navbar-brand, .navbar-default .navbar-nav>li>a {
        color: white;
        text-shadow: none;
        text-transform: uppercase;
        text-align: center;
    }

    .no-bg {
        background: transparent;
        color: white;
        box-shadow: none;
        .transition();
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { .no-bg(); }

    .nav>li.active>a { font-weight: 500; }

    .nav>li.active>a:after, .nav>li:hover>a:after {
        content: '';
        border-bottom: @border;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 40%;
        transform: translateX(-50%);
    }

    .head-on h3 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10%;
        font-size: 34px;
    }

    .thunderheart .list-inline { display: flex; }

    .list-inline li { flex: 1; }

    .pic {
        margin: -12px -12px 0;
        position: relative;
    }

    .footernew { padding: 15px 0; }
}

.bold { font-weight: 700 !important; }

.thin a { font-weight: 100; }

.head-on.home h3, .head-on.home p {
    color: white;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.head-on.home {
    margin-top: 8%;
    width: 50%;
}

.btn-dark {
    background: rgba(0, 0, 0, 0.55);
    color: white;
    font-weight: 300;
    padding: 10px 15px;
    .transition();
    outline: none;
}

.btn-dark:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
    font-weight: 300;
    padding: 10px 15px;
    color: @teal;
}

.nav > li > a:after {
    content: '';
    border-bottom: 4px solid transparent;
    transform: translateX(-50%);
    .transition();
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
    border: 0;
    font-size: @font-size;
}

.btn-yellow {
    background: @teal;
    padding: 7px 20px;
    margin-top: 5px;
    border: 0px;
    font-size: @font-size;
}

.btn { .transition(); }

.terms a:hover {
    color: @teal;
    .transition();
}

.terms {
    font-weight: 500;
    .transition();
    font-size: 14px;

    a { color: @lighterblack; }

    color: @lighterblack;
}

//.pad-up { padding-top: 25px; }
footer { font-size: @font-size; }

.header-black .icon-star.white, .icon-star {
    background: url('@{path-media}/star.png') no-repeat;
    width: 31px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
}

.icon-star.white { background-position: -31px; }

.nav>li>a {
    padding: 10px 0 0 0;
    line-height: 300%;
}

.nav>li+li { margin-left: 20px; }

.nav>li>i { margin: 15px 0 0 0; }

.no-margin { margin: 0 !important; }

.mypro li, .subbtn {
    .transition();
    cursor: pointer;
}

.head-fix {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 5px solid @teal;
}

.head-hold { height: 87px; }

.intro-line { color: @teal; }

.socials i {
    color: @teal;
    font-size: 24px;
    .transition();
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    margin: 17px 5px 9px 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tagged {
    color: black;
    font-weight: 400;
    margin-top: -15px;
    font-size: smaller;
}

span.featured { color: #c64453; }

.amazing {
    color: black;
    margin: -23px 0px 26px 16px;
}

span.title {
    color: #black;
    font-size: medium;
}

span.para {
    font-weight: 300;
    color: #3e5155;
}

i.fa.fa-arrow-circle-o-right {
    /* height: 46px; */
    padding: -35px -2px 0px 6px;
    font-size: x-large;
    vertical-align: middle;
}

dis { display: flex; }

img { vertical-align: middle; }

a.read {
    background: black;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 13px 11px 8px;
}

.amazing1 {
    color: black;
    margin: -60px 0px 26px 16px;
}

.tagged1 {
    font-size: smaller;
    font-weight: 400;
    margin-top: 30px;
}

span.featured1 { color: #c64453; }

i.fa.fa-arrow-circle-o-right { margin: 9px -7px 13px 4px; }

a.page {
    background: black;
    color: white;
    text-transform: capitalize;
    padding: 11px 9px 8px 15px;
    margin: 0px -2px 0px 2px;
}

a.page1 {
    background: #383838;
    color: white;
    text-transform: capitalize;
    padding: 10px 10px 10px 14px;
    margin: 0px -2px 0px 2px;
}

hr {
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: -3px;
    border: 0;
    opacity: 2.5;
    border-top: 1px solid #dddddd;
    width: 305px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    background-color: #383838;
    border: 1px solid #383838;
    border-radius: -25px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: white;
    background-color: #222222;
    border-color: #383838;
}

i.fa.fa-chevron-right {
    margin: -4px;
    font-size: x-small;
}

.dis { margin: 1px 0px 25px -4px; }

body a:hover {
    text-decoration: none;
    background-color: black;
}

.box {
    border: 2px solid;
    display: block;
    max-width: 100%;
    height: auto;
}

.oneround {
    background: @teal;
    color: white;
    height: 32px;
    line-height: 32px;
    width: 32px;
    border-radius: 100%;
    font-family: @font-hello;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.box {
    margin-bottom: 32px;
    height: 280px;
    overflow: hidden;
}

h1.esy {
    font-size: 55px;
    margin: 23px 14px 23px 10px;
}

.midtitle { text-align: center; }

img.mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}

.paddingtop { margin: 22px 10px 10px 10px; }

.esy { text-align: center; }

.cont1 { text-align: center; }

h4.works-title {
    margin: 25px 0px 15px 0px;
    font-weight: 700;
}

a.explorep {
    background: #4cd8d8;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 00px;
    border-radius: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.whycons {
    background: url("@{path-media}/whyus.png") top left no-repeat;
    display: inline-block;
}

.w5 {
    width: 99px;
    height: 106px;
    background-position: -10px -10px;
}

.w4 {
    width: 119px;
    height: 106px;
    background-position: -10px -126px;
}

.w3 {
    width: 129px;
    height: 106px;
    background-position: -10px -242px;
}

.w2 {
    width: 106px;
    height: 106px;
    background-position: -10px -358px;
}

.w1 {
    width: 79px;
    height: 106px;
    background-position: -10px -474px;
}

.w5 {
    width: 94px;
    height: 106px;
    background-position: -17px -6px;
}

.w4 {
    width: 120px;
    height: 106px;
    background-position: -10px -126px;

    .w3 {
        width: 125px;
        height: 106px;
        background-position: -10px -242px;

        .w2 {
            width: 102px;
            height: 106px;
            background-position: -10px -358px;
        }

        .w1 {
            width: 74px;
            height: 106px;
            background-position: -10px -474px;
        }
    }
}

.home-video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
