<article>
    <div class="main1">
        <div class="container">
            <div class="row">

                <div class="middle">
                    <div class="col-md-3">
                        <ul class="list1">
                           <li class="cat-list active"><a href="#/aboutUs">About Us</a>
                            </li>
                            <li class="cat-list"><a href="#/teampage">Team &amp; advisors</a>
                            </li>
                            <li class="cat-list"><a href="#/faq">FAQ</a>
                            </li>
                             <li class="cat-list"><a href="#/workwithus">Work with us</a>
                            </li>
                             <li class="cat-list"><a href="#/fellowship">Fellowship</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="content-page">
                            <h2 >About Us</h2>
                            <p>Power for One was created to make it amazingly Convenient & Transparent for people to support causes that they care about.  The origins of the idea goes back to when the founders were schoolmates & used to volunteer with NGOs they supported- they found that a lot of NGOs had amazing ideas & projects to make the world a better place- but lacked the working capital to see those projects executed successfully and in a sustainable manner.</p>

                            <p>After a lot of research & a number of conversations later, we also found that a large number of us as individuals want to help causes that we care about but we simply don’t know where to start.</p>

                            <p>Thus Power for One was born- We help people support causes that they care about by creating an ecosystem that connects Non Profits, Corporates & You. </p>

                            <p>Everything we do as an organization will be to make charitable giving.</p>
                          
                            <div class="row height2">
                                <div class="col-xs-6">
                                    <div class="circle circlecolor">
                                        Convenient
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <div class="circle circlecolor">
                                        Transparent
                                    </div>
                                </div>
                                 
                            </div>
                            <div class="row">
                               <div class="col-xs-6">
                                    <div class="circle circlecolor">
                                        Social
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="circle circlecolor">
                                        Fun
                                    </div>
                                </div>
                            
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</article>