<article>
    <div class="main1">
        <div class="container">
            <div class="row">

                <div class="middle">
                    <div class="col-md-3">
                        <div class="ListHead">
                            About Us
                        </div>


                        <ul class="list1">
                            <li class="cat-list"><a href="#">CATEGORY</a>
                            </li>
                            <li class="cat-list"><a href="#">CATEGORY</a>
                            </li>
                            <li class="cat-list"><a href="#">CATEGORY</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="cat-justify">
                            <h2>About Us</h2>
                            <p>Power for One was created to make it amazingly easy & transparent for people to support causes that they care about. The origins of the idea goes back to when the founders were schoolmates & used to volunteer with NGOs they supported- they found that a lot of NGOs had amazing ideas & projects to make the world a better place- but lacked the regular working capital to see those projects executed successfully and in a sustainable manner.</p>
                           
                            <p>After a lot of research & number ofconversations later, we also found that a large number of us as individuals want to help causes that we care about but we simply don’t know where to start.</p>
                           
                            <p>Thus Power for One was born-We help people support causes that they care about by creating an ecosystem that links Donors, NGOs, Brands & Corporates.</p>
                           
                            <p>We promise to create innovative solutions that are based around our values of making charitable giving.</p>
                            <ul>
                                <li>Convenient</li>
                                <li>Affordable</li>
                                <li>Recurring</li>
                                <li>Rewarding</li>
                                <li>Transparent</li>
                                <li>Social</li>
                            </ul>
                           


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</article>