<article>
    <div class="main1">
        <div class="container">
            <div class="row">

                <div class="middle">
                    <div class="col-md-3">
                        <ul class="list1">
                            <li class="cat-list cpointer" ng-class="aboutus" ng-click="changeaboutus()">About Us
                            </li>
                            <li class="cat-list cpointer" ng-class="team" ng-click="changeteam()">Team &amp; advisors
                            </li>
                            <li class="cat-list cpointer" ng-class="faq" ng-click="changefaq()">FAQ
                            </li>

                        </ul>
                    </div>

                    <!--               ABOUT US     -->

                    <div class="col-md-9" ng-if="aboutus=='active'" ng-bind-html="content.content | rawHtml">
                    </div>

                    <!--         FAQ           -->

                   
                    <div class="col-md-9" ng-if="faq=='active'" ng-bind-html="content.content | rawHtml">
                        
                    </div>

                    <!--                   BOARD OF DIRECTORS-->

                    <div class="col-md-9" ng-if="team=='active'" ng-bind-html="content.content | rawHtml">
                        
                    </div>

                </div>

            </div>
        </div>
    </div>
</article>