<div class="container">

    <div class="col-md-9">
        <div class="content1">
            <div class="row" ng-repeat="blog in blogs">
                <div class="tagged"> <span class="glyphicon glyphicon-tags"></span>TAGGED UNDER :<span class="featured">{{blog.blogcategoryname}} </span> 
                </div>

                <h1>
        <div class="amazing">{{blog.title}}</div>
     </h1>
                <div class="col-xs-3">

                    <img class="blog_img" src="{{blog.image | testimonialimagepath}}">
                </div>
                <div class="col-xs-9">
                    <span class="para">{{blog.description | cut:true:200:'...'}}</span>
                    <br>
                    <br>
                    <a href="#/bloginner/{{blog.id}}" class="read"> READ MORE <i class="fa fa-arrow-circle-o-right"></i></a>

                </div>
            </div>

<!--
            <div class="row">

                <div class="tagged1"><span class="glyphicon glyphicon-tags"></span>TAGGED UNDER :<span class="featured1">FEATURED1 </span> 
                </div>

                <h1>
        <div class="amazing1"><br>The Amazing Look Of Real Eagle Brings out A Wow</div>-
     </h1>
                <div class="col-md-3">

                    <img src="images/egale.png">
                </div>
                <div class="col-md-9">
                    <span class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, eligendi eius esse nam nostrum commodi, dolor dolorum voluptas labore obcaecati consectetur similique assumenda praesentium, ut officiis voluptatibus placeat corporis! Rem!</span> 
                    <br>
                    <br>
                    <a href="#/bloginner" class="read"> READ MORE <i class="fa fa-arrow-circle-o-right"></i></a> 

                </div>
                
                
            </div>
-->

                    <br>
                    <br>
                <div class="dis"> <a href="" class="page1"> 1</a><a href="" class="page1"> 2<a href="" class="page1"> 3
                <a href="" class="page1"> 4<a href="" class="page1"> 5<a href="" class="page1"> 6
                <a href="" class="page1"> 7
                <a href="" class="page1"> <i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i></a>
                </div>  

        </div>
    </div>

    <div class="col-md-3">

        <div class="row">

            <div class="col-md-5">
                <img src="images/Behaviour.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Real Nature Is Known For Its Beautiful Behaviour</span></b>
            
            </div>
        </div>
        <hr>
    
        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/together.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Dancing Girl And The Amzing Nature Together </span></b>
            </div>
        </div>

<hr>
        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/evilpower.png">
            </div>
            <div class="col-md-7"><b><span class="title"> A Red Beauty Is Real O Its a Sign of Evil Power ?</span></b>
            </div>
        </div>



<hr>
        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/planting.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Butter Fly And The Grow And Planting </span></b>
            </div>
        </div>

<hr>

        <br>
        <br>

        <div class="row">

            <div class="col-md-5">
                <img src="images/moment.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Amazing Natural Sunset Is A Glorius Moment</span></b>
            </div>
        </div>
    </div>
</div>









