<div class="container">

    <div class="col-md-9">
        <div class="content1">
            <div class="row">
                <div class="tagged"> <span class="glyphicon glyphicon-tags"></span>TAGGED UNDER :<span class="featured">FEATURED1, GRID </span>
                </div>

                <h1>
        <div class="amazing">The Amazing Natural Sunset Is A Glorius Moment</div>
     </h1>
                <div class="col-md-3">

                    <img src="images/amazing.png">
                </div>
                <div class="col-md-9">
                    <span class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, eligendi eius esse nam nostrum commodi, dolor dolorum voluptas labore obcaecati consectetur similique assumenda praesentium, ut officiis voluptatibus placeat corporis! Rem!</span>
                    
                    

                </div>
            </div>

        
          

        </div>
    </div>

    <div class="col-md-3">

        <div class="row">

            <div class="col-md-5">
                <img src="images/Behaviour.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Real Nature Is Known For Its Beautiful Behaviour</span></b>

            </div>
        </div>
        <hr>

        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/together.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Dancing Girl And The Amzing Nature Together </span></b>
            </div>
        </div>

        <hr>
        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/evilpower.png">
            </div>
            <div class="col-md-7"><b><span class="title"> A Red Beauty Is Real O Its a Sign of Evil Power ?</span></b>
            </div>
        </div>



        <hr>
        <br>
        <br>


        <div class="row">

            <div class="col-md-5">
                <img src="images/planting.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Butter Fly And The Grow And Planting </span></b>
            </div>
        </div>

        <hr>

        <br>
        <br>

        <div class="row">

            <div class="col-md-5">
                <img src="images/moment.png">
            </div>
            <div class="col-md-7"><b><span class="title"> The Amazing Natural Sunset Is A Glorius Moment</span></b>
            </div>
        </div>
    </div>
</div>