<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="salammum">
                        <img class="Salaamlogo" src="images/salaam_bombay.png">
                        <p><b>CAMPAIGN NAME</b>
                        </p>
                        <p class="ngoname"><b>NGO NAME</b>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tata">
                        <img class="tat" src="images/tata1.png">
                        <p class="suppoerted"><b>SUPPORTED BY</b>
                        </p>
                        <p class="ngoname"><b>CORPORATE NAME</b>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="contributionimg">2x</p>
                    <div class="contribution" >
                        <img src="images/yellow-layer.png" width=100% >
                       <h6>Your contribution will be doubled by tata who also support this cause</h6>
                    </div>
                </div>
            </div>
            <div class="paragraph">
                <h3>PROBLEM</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>SOLUTION</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>IMPACT</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>OTHER WRITTEN CONTENT</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>

        </div>
        <div class="col-md-3">
            <div class="col-md-3 LeftCont">
                <div class="donatecontentChange">
                    <div>
                        <div class="txt3"> <span><img src="images/donate.png" alt=""></span>DONATE</div>
                    </div>
                    <div class="checkbox check">
                        <label>
                            <input type="checkbox">
                            <h5>Make a Recurring Donation</h5>
                        </label>
                        <select class="recurring" name="" id="">
                            <option value="">Monthy</option>

                        </select>

                        <label class="anonynimous">
                            <input type="checkbox"><h5 class="keepit">Keep It Anonymous</h5></label>
                    </div>
                     <div class="donation">
                        <input type="text" class="form-control" placeholder="Rs. 00">
                        <span><button type="button" class="btn btn-info"> GIVE</button></span> 

                    </div>
                    <span class="t1"> Remember, your donation will be doubled by </span>
                    <div class="icon1">
                        <img src="images/tata_icon.png" height="40px" width="40px">
                    </div>
                </div>
                <div class="share">
                    <div class="Bordr"></div>
                    <div class="share"><span><img src="images/share.png" alt=""></span>SHARE</div>

                    <div class="sharebtn">
                        <button type="button" class="btn btn-primary"><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp; Share on Facebook</button>
                        <button type="button" class="btn btn-info"> <i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Tweet on Twitter</button>
                    </div>
                    <div class="txt4">102</div>
                    <span class="shares"> Shares</span>
                    <p class="txt5">1 Share=RS 200</p>
                    <span class="t1"> Remember,for every share tata will donate Rs 200</span>
                    <div class="icon1">
                        <img src="images/tata_icon.png" height="40px" width="40px">
                    </div>
                </div>
                <div class="funded">
                    <h4>FUNDED </h4>
                    <div class="circle">
                        <div class="txt2">230%</div>
                    </div>
                    <div class="Bordr">
                        <h4>PLEDGED</h4>
                        <div class="txtpleded"><h4>Rs.2,30,0000</h4>
                        </div>
                    </div>
                    <div class="Bordr">
                        <h4>CATEGORIES</h4>
                        <div class="txtpleded"><h4>EDUCATION</h4>
                        </div>
                    </div>
                    <div class="Bordr">
                    </div>
                    YOUR FRIENDS WHO HELPED
                    <div class="frnds">
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                        <div class="circ1">
                            <img src="images/earth.png" class="img-circle" height="50px" width="50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="ychoseus">
            <p>SIMILAR CAUSES.</p>
            <div class="hrl"></div>
        </div>
        <p class="viewAll">(View All)</p>
        <div class="col-md-4">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                        <div class="col-xs-4">
                            <p class="Funded">FUNDED</p>
                            <div class="circle">
                                <div class="txt2">230%</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <P class="Funded">PLEDGED</P>
                            <div class="txt3">Rs.2,30,452</div>
                        </div>
                        <div class="col-xs-4">
                            <p class="Funded">CATEGORY</p>
                            <div class="txt3">Education</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                        <div class="col-xs-4">
                            <p class="Funded">FUNDED</p>
                            <div class="circle">
                                <div class="txt2">230%</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <P class="Funded">PLEDGED</P>
                            <div class="txt3">Rs.2,30,452</div>
                        </div>
                        <div class="col-xs-4">
                            <p class="Funded">CATEGORY</p>
                            <div class="txt3">Education</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                        <div class="col-xs-4">
                            <p class="Funded">FUNDED</p>
                            <div class="circle">
                                <div class="txt2">230%</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <P class="Funded">PLEDGED</P>
                            <div class="txt3">Rs.2,30,452</div>
                        </div>
                        <div class="col-xs-4">
                            <p class="Funded">CATEGORY</p>
                            <div class="txt3">Education</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="author row">
            <div class="col-md-2 text-center">
                <img src="images/face.png" class="img-responsive">
            </div>
            <div class="col-md-10">
                <div class="cont">
                    "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                </div>
            </div>
        </div>
    </div>
</div>