<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="salammum">
                        <img class="Salaamlogo" src="images/salaam_bombay.png">
                        <p>CAMPAIGN BY
                        </p>
                        <p class="ngoname nameng">NGO NAME
                        </p>
                    </div>
                </div>
                <div class="col-md-8 contribut">
                     <p class="contributionimg"><b>2x</b>
                    </p>
                    <div class="contribution">
                        <h6>Your contribution will be <span><b>doubled</b></span> by <img src="images/tata1.png" height="50px" width="50px"></h6>
                    </div>
                </div>
            </div>
            <div class="paragraph">
                <h3>PROBLEM</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>SOLUTION</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>IMPACT</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
            <div class="paragraph">
                <h3>OTHER WRITTEN CONTENT</h3>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                <p class="parapadding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
            </div>
           
        <div class="row">
          <div class="col-xs-10">     
           <div class="galleryimg">
                <img src="images/educationgallery.jpg"  width="100%" height="100%" alt="">
            </div>
            </div> 
            <div class="col-xs-2">
            
               
                <div><img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
                <div class="gallerytag"> <img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
                <div class="gallerytag"> <img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
                <div class="gallerytag"> <img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
                <div class="gallerytag"> <img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
                <div class="gallerytag"> <img src="images/educationgallery.jpg"  width="100%" height="100%" alt=""></div>
               
           
            </div>
        </div>    
            

        </div>
        <div class="col-md-3">
            <div class="LeftCont">
                <div class="donatecontentChange" id="atdonate">

                        <div class="txt3"><i class="donate"></i> <span>Donate</span></div>

                    <div class="checkbox check">
                 
                     <label class="anonynimous">
                             <div class="row foregin">
                               <div class="col-md-2 radanoyminous">
                               <input type="radio"  ng-model="checked" name="1" ></div>
                               <div class="col-md-10 popup"><h5 class="keepit">Indian Donor [?]</h5><div class="popup-indiandonar"><div class="arrow-left"></div>Indian donar</div></div>
                               
                           </div>
                         </label> 
                             <p class="or">OR</p>
                                <label class="anonynimous">
                             <div class="row foregin">
                               <div class="col-md-2 radanoyminous">
                               <input type="radio"  ng-model="checked" name="1" ></div>
                               <div class="col-md-10 popup"><h5 class="keepit">Foreign Donor [?]</h5><div class="popup-foreigndonar"><div class="arrow-left"></div>Foreign donar</div></div>
                               
                           </div>
                         </label>
                         
                        
                    </div>
                    <div class="donation">
                       
                        <div class="input-group">
                          <div class="input-group-addon bdr-right">Rs.</div>
                          <input type="text" class="form-control bdr-left" id="exampleInputAmount" placeholder="500">
                           <select class="form-control selectbg">
                             <option>Monthly</option>
                             <option>Quarterly</option>
                             <option>Yearly</option>
                             <option>One time</option>
                         </select>
                        </div>
                       
                       
                        <div class="clearfix"></div>
                         <div class="give-btn">
                         <button type="button" class="btn givbtn">
                          GIVE</button>
                        </div>
                    </div>
                    <div class="checkbox check">
                        <label class="anonynimous">
                             <div class="row monthly">
                               <div class="col-md-2 radanoyminous">   <input type="checkbox"></div>
                               <div class="col-md-10"> <h5 class="keep">Keep It Anonymous</h5></div>
                           </div>
                          
                            
                        </label>
                    </div>
                    <span class="t1"> Remember, your donation will be doubled by </span>
                    <div class="icon1">
                        <img src="images/tata_icon.png" height="40px" width="40px">
                    </div>
                </div>
                
                <div class="share" id="atshare">
                    <div class="Bordr"></div>
                    <div class="share"><i class="shareicon"></i><span>Raise Awareness</span></div>
           <div class="sharebtn">
                        <button type="button" class="btn btn-primary"><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp; Share on Facebook</button>
                        <button type="button" class="btn btn-info"> <i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Tweet on Twitter</button>
                    </div>
                    <div class="txt4">102</div>
                    <span class="shares"> Shares</span>
                    <p class="txt5">1 Share=RS 200</p>
                    <span class="t1"> Remember,for every share tata will donate Rs 200</span>
                    <div class="icon1">
                        <img src="images/tata_icon.png" height="40px" width="40px">
                    </div>
                </div>
                
                <div class="funded">
                    <h4>FUNDED </h4>
                    <div class="circle">
                        <div class="circlepercnt">230%</div>
                    </div>
                    <div class="Bordr">
                        <p>PLEDGED</p>
                        <div class="txtpleded">
                            <h4>Rs-2,30,0000</h4>
                        </div>
                    </div>
                    
                 </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="ychoseus">
            <p>SIMILAR CAUSES.</p>
            <div class="hrl"></div>
        </div>
        <p class="viewAll">(View All)</p>
        <div class="col-md-4 causelnk">
           <a href="#/campaign">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 causelnk">
            <a href="#/campaign">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 causelnk">
            <a href="#/campaign">
            <div class="causes text-center">
                <div class="pic">
                    <img src="images/explore.jpg">

                    <div class="mumbai-in">
                        <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                    </div>
                </div>
                <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                    <h5>NGO NAME</h5>
                    <img src="images/tata_icon.png">
                    <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
        <div class="author row">
            <div class="col-xs-2 text-center">
                <img src="images/face.png" class="img-responsive">
            </div>
            <div class="col-xs-10">
                <div class="cont52">
                    "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                </div>
            </div>
        </div>
</div>