<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="salammum">
                        <a href="http://{{project.ngowebsite}}" target="_blank"><img class="Salaamlogo" ng-src="{{project.ngoimage | projectbannerimagepath}}">
                        </a>
                        <p>CAMPAIGN BY
                        </p>
                        <p class="ngoname nameng">{{project.ngoname}}
                        </p>
                    </div>
                </div>
                <div class="col-md-6 contribut">

                    <div class="text-center">
                        <p class="contributionimg"><b>{{project.times}}</b>
                        </p>
                    </div>

                    <div class="contribution">
                        <span>{{project.timesinword}}</span>
                        <a href="http://{{project.advertiserwebsite}}" target="_blank"><img ng-src="{{project.advertiserimage | ngoimagepath}}"></a>

                        <!--
                        <div class="row">
                            <div class="col-xs-8 text-center">
                                <div class="">
                                    <p class="contributionimg"><b>{{project.times}}</b>
                                    </p>
                                </div>
                                <div>
                                    {{project.timesinword}}
                                </div>
                            </div>
                            <div class="col-xs-4"><img class="contri-img" ng-src="{{project.ngoimage | ngoimagepath}}" height="50px" width="50px">
                            </div>
                        </div>
-->



                    </div>
                </div>
            </div>
            <div class="paragraph">
                <p class="parapadding" ng-bind-html="project.content | rawHtml"></p>
            </div>

            <div class="row gallery_div" ng-if="projectimages">
                <div class="col-xs-10">
                    <div class="galleryimg" ng-show="!showvideo">
                        <img ng-src="{{mainimage | ngoimagepath}}" alt="">
                    </div>
                    <div class="galleryimg" ng-show="showvideo">
                    	<div class="videoht">
                        	<div my-youtube code="playvideo"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 gallery_width">
                    <ul class="list-unstyled">
                        <li class="gallerytag" ng-if="project.video!=''" ng-click="changevideo(project.video)">
                            <div class="play-circle">
                                <i class="fa fa-play playtriangle"></i>
                            </div>
                            <img src="http://img.youtube.com/vi/{{project.video}}/0.jpg" width="100%" height="100%" alt="">
                        </li>
                        <li class="gallerytag" ng-if="project.video2!=''" ng-click="changevideo(project.video2)">
                            <div class="play-circle">
                                <i class="fa fa-play playtriangle"></i>
                            </div>
                            <img src="http://img.youtube.com/vi/{{project.video2}}/0.jpg" width="100%" height="100%" alt="">
                        </li>
                        <li class="gallerytag" ng-repeat="proimg in projectimages | orderBy : 'order'">
                            <img src="{{proimg.image | ngoimagepath}}" alt="" ng-click="tomainimage(proimg)">
                        </li>
                    </ul>




                </div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="LeftCont">
                <div class="donatecontentChange" id="atdonate" ng-if="project.donate == '1'">

                    <div class="txt3"><i class="donate"></i> <span>Donate</span>
                    </div>

                    <div class="checkbox check">

                        <label class="anonynimous">

                            <div class="row foregin">
                                <div class="col-md-2 radanoyminous">
                                    <input type="radio" ng-model="project.indiandoner" ng-click="donnercheck(project.indiandoner)" name="1" value="1" class="radiobutton">
                                </div>
                                <div class="col-md-10 popup">
                                    <h5 class="keepit">Indian Citizen [?]</h5>
                                    <div class="popup-indiandonar">
                                        <div class="arrow-left"></div>Are you an Indian Citizen?</div>
                                </div>

                            </div>
                        </label>
                        <!--
                        <p class="or">OR</p>
                        <label class="anonynimous">
                            <div class="row foregin">
                                <div class="col-md-2 radanoyminous">
                                    <input type="radio" ng-model="project.foreigndoner" name="1">
                                </div>
                                <div class="col-md-10 popup">
                                    <h5 class="keepit">Foreign Citizen [?]</h5>
                                    <div class="popup-foreigndonar">
                                        <div class="arrow-left"></div>Are you an Foreign Citizen?</div>
                                </div>

                            </div>
                        </label>
-->


                    </div>
                    <div class="donation" ng-class="donationdiv">

                        <div class="input-group">
                            <div class="input-group-addon bdr-right">Rs.</div>
                            <input type="text" class="form-control bdr-left" ng-model="amount" id="exampleInputAmount" placeholder="">
                            <select class="form-control selectbg" ng-model="pre" ng-change="changeperiod(amount,pre)">
                                <option ng-repeat="donate in donation" value="{{donate.val}}" {{donate.select}}>{{donate.period}}</option>
                            </select>
                        </div>


                        <div class="clearfix"></div>
                        <div class="give-btn">
                            <button ng-click="tocheckout(project.id,project.name)" class="btn givbtn" ng-disabled="disabledgive">
                                GIVE</button>
                            <!--                            <a href="https://www.instamojo.com/jagruti/demo-19616/?data_amount=123.45" rel="im-checkout" data-behavior="remote" data-style="light" data-text="GIVE" data-token="4ce05ad37d7997d2eaaba6bd8d27ee07"></a>-->
                            <!--                            <a href="https://www.instamojo.com/jagruti/demo-19616/?data_amount={{amount}}">GIVE</a>-->

                            <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                        </div>
                    </div>
                    <div class="checkbox check">
                        <label class="anonynimous">
                            <div class="row monthly">
                                <div class="col-md-2 radanoyminous">
                                    <input type="checkbox" ng-model="anonymous">
                                </div>
                                <div class="col-md-10">
                                    <h5 class="keep">Keep It Anonymous</h5>
                                </div>
                            </div>


                        </label>
                    </div>
                    <span class="t1"> Remember, {{project.remembersharevalue}} </span>
                    <div class="icon1">
                        <img src="{{project.advertiserimage | ngoimagepath}}" height="52px" width="auto">
                    </div>
                </div>

                <div class="share" id="atshare" ng-if="project.raiseawareness == '1'">
                    <div class="Bordr" ng-if="project.donate == '1'"></div>
                    <div class="share"><i class="shareicon"></i><span>Raise Awareness</span>
                    </div>
                    <div class="sharebtn">
                        <button type="button" class="btn btn-primary" ng-click="facebookshow()"><i class="fa fa-facebook fa-lg"></i><span>Share on Facebook</span>
                        </button>
                        <button type="button" class="btn btn-info" ng-click="twittershow()"> <i class="fa fa-twitter fa-lg"></i><span>Tweet on Twitter</span>
                        </button>
                    </div>
                    <div class="txt4">{{project.share}}</div>
                    <span class="shares"> Shares</span>
                    <p class="txt5">1 Share=Rs.{{project.sharevalue}}</p>
                    <span class="t1"> Remember, {{project.timesinwordforshare}}</span>
                    <div class="icon1">
                        <img src="{{project.advertiserimage | ngoimagepath}}" height="52px" width="auto">
                    </div>
                </div>

                <div class="funded" ng-if="project.raiseawareness == '1' || project.donate == '1'">
                    <h4>FUNDED </h4>
                    <div class="circle">
                        <div class="circlepercnt">{{percent}}%</div>
                    </div>
                    <div class="Bordr">
                        <p>PLEDGED</p>
                        <div class="txtpleded">
                            <h4> Rs. {{totalprojectamount}}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="ychoseus" ng-if="similarcauses!=''">
            <p>SIMILAR CAUSES.</p>
            <div class="hrl"></div>
        </div>
        <!--        <p class="viewAll" ng-if="similarcauses!=''" ng-click="tocategory()">(View All)</p>-->
        <div class="bottom1">
            <div class="col-md-4 causelnk" ng-if="similarcauses[0]">
                <a href="#/campaign/{{similarcauses[0].similarprojectid}}">
                    <div class="causes text-center">
                        <div class="pic">
                            <img ng-src="{{similarcauses[0].image | projectbannerimagepath}}">

                            <div class="mumbai-in">
                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>{{similarcauses[0].name}}</h3>
                        <div class="info">

                            <p>{{similarcauses[0].cardtagline}}</p>
                            <!--
                            <h5>{{similarcauses[0].ngoname}}</h5>
                            <img ng-src="{{similarcauses[0].ngoimage | ngoimagepath}}" height="50px" width="50px">
-->

                            <div class="row">
                                <div class="text-center">
                                    <img ng-src="{{similarcauses[0].ngoimage | ngoimagepath}}" height="50px" width="50px">
                                    <span style="margin-left:10px"><img ng-src="{{similarcauses[0].ngoimage | ngoimagepath}}" height="50px" width="50px"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 causelnk" ng-if="similarcauses[1]">
                <a href="#/campaign/{{similarcauses[0].similarprojectid}}">
                    <div class="causes text-center">
                        <div class="pic">
                            <img ng-src="{{similarcauses[1].image | projectbannerimagepath}}">

                            <div class="mumbai-in">
                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>{{similarcauses[1].name}}</h3>
                        <div class="info">
                            <p>{{similarcauses[1].cardtagline}}</p>
                            <!--
                            <h5>{{similarcauses[1].ngoname}}</h5>
                            <img ng-src="{{similarcauses[1].ngoimage | ngoimagepath}}" height="50px" width="50px">
-->
                            <div class="row">
                                <div class="text-center">
                                    <img ng-src="{{similarcauses[1].ngoimage | ngoimagepath}}" height="50px" width="50px">
                                    <span style="margin-left:10px"><img ng-src="{{similarcauses[1].ngoimage | ngoimagepath}}" height="50px" width="50px"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 causelnk" ng-if="similarcauses[2]">
                <a href="#/campaign/{{similarcauses[0].similarprojectid}}">
                    <div class="causes text-center">
                        <div class="pic">
                            <img ng-src="{{similarcauses[2].image | projectbannerimagepath}}">

                            <div class="mumbai-in">
                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>{{similarcauses[2].name}}</h3>
                        <div class="info">
                            <p>{{similarcauses[2].cardtagline}}</p>
                            <!--
                            <h5>{{similarcauses[2].ngoname}}</h5>
                            <img ng-src="{{similarcauses[2].ngoimage | ngoimagepath}}" height="50px" width="50px">
-->
                            <div class="row">
                                <div class="text-center">
                                    <img ng-src="{{similarcauses[2].ngoimage | ngoimagepath}}" height="50px" width="50px">
                                    <span style="margin-left:10px"><img ng-src="{{similarcauses[2].ngoimage | ngoimagepath}}" height="50px" width="50px"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="slider">
            <carousel interval="myInterval">
                <slide ng-repeat="testimonial in testimonials" active="slide.active">
                    <div class="row">
                        <div class="col-md-2">
                            <img ng-src="{{testimonial.image | testimonialimagepath}}" class="test-img">
                        </div>
                        <div class="col-md-10 cont52">
                            {{testimonial.name}} {{testimonial.content | cut:true:250:' ...'}}
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>

        <!--
            <wrap-owlcarousel class="owl-carousel testimonials" data-options="{autoPlay: true, stopOnHover: true,
            slideSpeed : 300, paginationSpeed : 400,pagination:false, singleItem : true}">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="images/face.png" class="img-responsive">
                    </div>
                    <div class="col-md-10">
                        <div class="cont52">
                            {{testimonial1.content}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="images/face.png" class="img-responsive">
                    </div>
                    <div class="col-md-10">
                        <div class="cont52">
                            {{testimonial1.content}}
                        </div>
                    </div>
                </div>

            </wrap-owlcarousel>
-->


    </div>


</div>


<div class="container-fluid" ng-show="facebookdiv">
    <div class="fboverlay">
        <div class="fb-popup">
            <div class="phead">
                <i class="fa fa-facebook"></i> Share This on facebook<span class="pull-right cpointer"><i class="fa fa-times" ng-click="hidefacebook()"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="padding10">
                <form>
                    <input type="text" ng-model="project.facebookaddon" placeholder="Say something about this...">
                </form>
                <div class="row share-info">
                    <div class="col-xs-3">
                        <img src="images/favicon.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-9">
                        <div class="fb-postcont">
                            <p>{{project.facebooktext+" "+project.facebookaddon}}</p>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" ng-click="hidefacebook()">Cancel</button>
                    <a type="submit" class="post-btn" ng-click="facebookshare(project.facebooktext+' '+project.facebookaddon)" target="_new">Post</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="twitterdiv">
    <div class="fboverlay">
        <div class="fb-popup">
            <div class="phead twitt-head text-center">Share on Twitter<span class="pull-right cpointer"><i class="fa fa-times" ng-click="hidetwitter()"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="padding10">
                <form>
                    <input type="text" ng-model="project.twitteraddon" placeholder="Your Tweet...">
                </form>
                <div class="twit-info">

                    <p>{{project.twittertext+" "+project.twitteraddon}}</p>
                </div>
                <div class="pull-right margintop">
                    <span>{{140-(project.twittertext.length+1+twitteraddon.length)}}</span>
                    <button type="submit" class="post-btn twitt-head" ng-click="twittershare(project.twittertext+' '+project.twitteraddon)" ng-disabled="(140-(project.twittertext.length+1+project.twitteraddon.length))<0">Tweet</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="veil" ng-show="isLoading"></div>
<div id="feedLoading" ng-show="isLoading">Loading...</div>