<div class="container">
    <div class="holder">
        <div class="row">

            <div class="col-md-12">
                <div class="signin">
                    <h3 class="createtitle">Checkout</h3>
                    <div class="chkform text-center">
                        <form>
                           <input name="name" type="text" class="custom-input signin-input" value="" placeholder="Name">
                            <br>
                            <input name="email" class="custom-input signin-input" value="" placeholder="Enter your email">
                            <br>
                            <input name="mobileNumber" class="custom-input signin-input" class="custom-input integer" placeholder="Mobile Number">
                            <br>
                            <input type="text" name="city" class="custom-input signin-input" placeholder="City">
                            <br>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox">If you want your Tax Certificate 
                                </label>
                            </div>
                            <div>
                             <textarea class="custom-input signin-input" placeholder="Address"></textarea>
                            </div>
                            <div>
                              <input type="text" name="pcard" class="custom-input signin-input" placeholder="PAN card Number.">  
                            </div>
                             <div>
                              <input type="date" name="bdate" class="custom-input signin-input" placeholder="birthday">  
                            </div>
                            
                            <a href="" class="createacc"> Proceed and Pay </a>
                        </form>
                    </div>
                </div>
            </div>


        </div>



<!--
        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
-->
    </div>
</div>

