<div class="container">
    <div class="holder">
        <div class="row">

            <div class="col-md-12">
                <div class="signin text-center">
                    <h3 class="createtitle" ng-bind-html="page.content | rawHtml"></h3>
                    <div class="chkform text-center">
                           <input name="name" type="text" class="custom-input signin-input" ng-model="checkout.name"ng-class="allvalidation[0].validation" required placeholder="Name">
                            <br>
                            <input name="email" class="custom-input signin-input" ng-model="checkout.email"ng-class="allvalidation[1].validation" required placeholder="Email">
                            <br>
                            <input name="mobileNumber" class="custom-input signin-input" ng-model="checkout.mobile" class="custom-input integer"ng-class="allvalidation[2].validation" required placeholder="Mobile">
                            <br>
                            <input type="text" name="city" class="custom-input signin-input" ng-model="checkout.city"ng-class="allvalidation[3].validation" required placeholder="City">
                            <br>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" ng-model="checkout.istax" ng-click="checktax(checkout.istax)">If you want your Tax Certificate 
                                </label>
                            </div>
                            <div ng-show="checkout.istax==true">
                             <textarea class="custom-input signin-input" ng-model="checkout.address"ng-class="allvalidation[4].validation" required placeholder="Address"></textarea>
                            </div>
                            <div ng-show="checkout.istax==true">
                              <input type="text" name="pcard" class="custom-input signin-input"ng-class="allvalidation[5].validation" required ng-model="checkout.pan" placeholder="PAN number.">  
                            </div>
                             <div ng-show="checkout.istax==true">
                              <input type="date" name="bdate" class="custom-input signin-input"ng-class="allvalidation[6].validation" required ng-model="checkout.dob" placeholder="birthday">  
                            </div>
                            
                            <a ng-click="payproceed(checkout)" class="createacc"> Proceed and Pay </a>
                    </div>
                </div>
            </div>


        </div>



<!--
        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
-->
    </div>
</div>

