<div class="container">
    <div class="holder" style="border:none;">
        <div class="row">

            <div class="col-md-12">
                <div class="signin text-center">
                    <h3 class="createtitle" ng-bind-html="page.content | rawHtml"></h3>
                    <div class="chkform text-center">
                          <form class="frm-bdr" ng-submit="payproceed(checkout)">
                           <input name="name" type="text" class="custom-input signin-input" ng-model="checkout.name"ng-class="allvalidation[0].validation" required placeholder="Name *">
                            <br>
                            <input name="email" class="custom-input signin-input" ng-model="checkout.email"ng-class="allvalidation[1].validation" required placeholder="Email *">
                            <br>
                            <input name="mobileNumber" class="custom-input signin-input" ng-model="checkout.mobile" class="custom-input integer"ng-class="allvalidation[2].validation" required placeholder="Mobile *">
                            <br>
                            <input type="text" name="city" class="custom-input signin-input" ng-model="checkout.city"ng-class="allvalidation[3].validation" required placeholder="City *">
                            <br>
                           
                            <div class="tax-msg"><p>Please fill in the following details if you would like your Tax Certificates</p></div>
                          
                            <div>
                             <textarea class="custom-input signin-input txt-padding" ng-model="checkout.address" placeholder="Address"></textarea>
                            </div>
                            <div>
                              <input type="text" name="pcard" class="custom-input signin-input" ng-model="checkout.pan" placeholder="PAN Number">  
                            </div>
                             <div>
                              <input name="bdate" class="custom-input signin-input" ng-model="checkout.dob" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')">  
                            </div>
                            
<!--
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" ng-model="checkout.istax" ng-click="checktax(checkout.istax)">If you want your Tax Certificate 
                                </label>
                            </div>
-->
                            
                            <button type="submit" class="createacc cpointer"> Proceed &amp; Pay </button>
                    </div>
                </div>
            </div>


        </div>



<!--
        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
-->
    </div>
</div>

