   <div class="contentexplorestuck">
   <div class="container">
    <ul class="list-inline pagecategory">
        <li class="active" style="margin-left:15px">
           <a href="#">
<!--           <i class="cathrt cat-heart black"></i>-->
           All
            </a>
        </li>
        <li class="education">
            <a href="#">
                <i class="b-educa caticonsb"></i>
                <div class="edu exp-menus">Education</div>
            </a>
        </li>
        <li class="child-welfare">
           <a href="#">
            <i class="b-child caticonsb"></i>
                <div class="cw exp-menus">Child Welfare</div>
            </a>
        </li>
        <li class="employment">
              <a href="#">
               <i class="b-emplo caticonsb"></i>
                <div class="emp exp-menus">Employment</div>
                </a>
        </li>
        <li class="envt-animal">
           <a href="#">
                <i class="b-enivr caticonsb"></i>
                <div class="ena exp-menus">Environment and Animal Welfare</div>
            </a>
        </li>
        <li class="health">
           <a href="#">
                <i class="b-healt caticonsb"></i>
                <div class="hns exp-menus">Health and Sanitation</div>
            </a>
        </li>
        <li class="elderly">
           <a href="#">
                <i class="b-welfa caticonsb"></i>
                <div class="woe exp-menus">Welfare of the Elderly</div>
            </a>
        </li>
        <li class="woman">
           <a href="#">
                <i class="b-women caticonsb"></i>
                <div class="we exp-menus">Woman Empowerment</div>
            </a>
        </li>
    </ul>
    </div>
</div>
<div class="exp-fixhead"></div>

    <div class="container">

        <div class="row mainCause">
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $( document ).ready(function() {
            $('.pagecategory .education').mouseover(function() { 
               $('.edu').show();
            }).mouseleave(function() {$('.edu').hide()});
            
        $('.pagecategory .child-welfare').mouseover(function() { 
               $('.cw').show();
            }).mouseleave(function() {$('.cw').hide()});
       
        $('.pagecategory .employment').mouseover(function() { 
               $('.emp').show();
            }).mouseleave(function() {$('.emp').hide()});
       
        $('.pagecategory .envt-animal').mouseover(function() { 
               $('.ena').show();
            }).mouseleave(function() {$('.ena').hide()});
       
        $('.pagecategory .health').mouseover(function() { 
               $('.hns').show();
            }).mouseleave(function() {$('.hns').hide()});
      
        $('.pagecategory .elderly').mouseover(function() { 
               $('.woe').show();
            }).mouseleave(function() {$('.woe').hide()});
                
        $('.pagecategory .woman').mouseover(function() { 
               $('.we').show();
            }).mouseleave(function() {$('.we').hide()});
        
            });
</script>