   <div class="contentexplorestuck">
   <div class="container">
    <ul class="list-inline pagecategory">
        <span ng-click="getallproject()"><li class="txtall">

<!--           <i class="cathrt cat-heart black"></i>-->
           All

        </li></span>
<!--
        <li class="active">

                <span><i class="b-educa caticonsb"></i></span>
                <div class="exp-menus"><div class="arrow-up"></div>Education</div>

        </li>
-->
         <li ng-repeat="cat in categories" ng-click="tocategory(cat)" class="{{cat.active}}">

           <span> <i class="b-{{cat.name | fourletter | lowercase}} caticonsb"></i></span>
                <div class="exp-menus"><div class="arrow-up"></div>{{cat.name}}</div>

        </li> 
    </ul>
    </div>
</div>
<div class="exp-fixhead"></div>

    <div class="container">

        <div class="row mainCause" ng-repeat = "project in projects">
            <div class="col-md-4 causelnk" ng-repeat="pro in project">
               <a href="#/campaign/{{pro.id}}">
                <div class="causes text-center">
                    <div class="pic">
                        <img ng-src="{{pro.image | projectbannerimagepath}}">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>{{pro.tagline}}</h3>
                    <div class="info">
                        <p>{{pro.cardtagline}}</p>
                        <h5>{{pro.ngoname}}</h5>
                        <img ng-src="{{pro.ngoimage | ngoimagepath}}">

                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
