   <div class="contentexplorestuck">
    <ul class="list-inline pagecategory">
        <li class="active" style="margin-left:15px">
           <a href="#">
<!--           <i class="cathrt cat-heart black"></i>-->
           All
            </a>
        </li>
        <li>
            <a href="#">
                <i class="b-educa caticonsb"></i>Education
            </a>
        </li>
        <li>
           <a href="#">
            <i class="b-child caticonsb"></i>
                Child Welfare
            </a>
        </li>
        <li>
              <a href="#">
               <i class="b-emplo caticonsb"></i>
                Employment
                </a>
        </li>
        <li>
           <a href="#">
                <i class="b-enivr caticonsb"></i>
                Environment and Animal Welfare
            </a>
        </li>
        <li>
           <a href="#">
                <i class="b-healt caticonsb"></i>
                Health and Sanitation
            </a>
        </li>
        <li>
           <a href="#">
                <i class="b-welfa caticonsb"></i>
                Welfare of the Elderly
            </a>
        </li>
        <li>
           <a href="#">
                <i class="b-women caticonsb"></i>
                Woman Empowerment
            </a>
        </li>
    </ul>
</div>
<div class="exp-fixhead"></div>

    <div class="container">

        <div class="row mainCause">
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="causes text-center">
                    <div class="pic">
                        <img src="images/explore.jpg">

                        <div class="mumbai-in">
                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                        </div>
                    </div>
                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                        <h5>NGO NAME</h5>
                        <img src="images/tata_icon.png">
                        <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

