<div class="container faqpg">
    <div class="holder">
        <div class="row">

            <div class="col-md-12">
                <div class="signin">
                    <div class="text-center"><h3 class="createtitle">FAQ</h3></div>
                    <div class="">
                        <form>
                          <h4>What is Power for One?</h4>
                           <input name="ans1" type="text" class="custom-input signin-input" value="" placeholder="Your Answer">
                            <br>
                            <h4>Why is Power for One better than other giving websites?</h4>
                             <textarea name="ans2" class="custom-input signin-input" placeholder="Your Answer"></textarea>
                            <br>
                            <h4>Why should I Give on Power for One?</h4>
                            <input name="ans3" type="text" class="custom-input signin-input" value="" placeholder="Your Answer">
                            <br>
                            <h4>How does Power for One make money?</h4>
                            <input name="ans4" type="text" class="custom-input signin-input" value="" placeholder="Your Answer">
                            <br>
                            <h4>How does the model work?</h4>
                            <input name="ans5" type="text" class="custom-input signin-input" value="" placeholder="Your Answer">
                            <br>
                            <h4>How do I get in touch with Power for One?</h4>
                            <input name="ans6" type="text" class="custom-input signin-input" value="" placeholder="Your Answer">
                            
                            <a href="" class="createacc">Proceed</a>
                        </form>
                    </div>
                </div>
            </div>


        </div>



<!--
        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
-->
    </div>
</div>

