<div class="container faqpg">
   <div class="row">
        <div class="col-md-3">
            <ul class="list1">
                           <li class="cat-list active"><a href="#/aboutUs">About Us</a>
                            </li>
                            <li class="cat-list"><a href="#/teampage">Team &amp; advisors</a>
                            </li>
                            <li class="cat-list"><a href="#/faq">FAQ</a>
                            </li>
                             <li class="cat-list"><a href="#/workwithus">Work with us</a>
                            </li>
                             <li class="cat-list"><a href="#/proarmy">Pro Army</a>
                            </li>

                        </ul>
        </div>
        <div class="col-md-9">
            <div class="holder">
                <div class="row">

                    <div class="col-md-12">
                        <div class="signin">
                            <div class="text-center"><h3 class="createtitle">FAQ</h3></div>
                            <div class="">
                                <form>
                                  <h4>What is Power for One?</h4>
                                   <input name="ans1" type="text" class="custom-input signin-input" value="" placeholder="">
                                    <br>
                                    <h4>Why is Power for One better than other giving websites?</h4>
                                     <textarea name="ans2" class="custom-input signin-input" placeholder=""></textarea>
                                    <br>
                                    <h4>Why should I Give on Power for One?</h4>
                                    <input name="ans3" type="text" class="custom-input signin-input" value="" placeholder="">
                                    <br>
                                    <h4>How does Power for One make money?</h4>
                                    <input name="ans4" type="text" class="custom-input signin-input" value="" placeholder="">
                                    <br>
                                    <h4>How does the model work?</h4>
                                    <input name="ans5" type="text" class="custom-input signin-input" value="" placeholder="">
                                    <br>
                                    <h4>How do I get in touch with Power for One?</h4>
                                    <input name="ans6" type="text" class="custom-input signin-input" value="" placeholder="">

                                    <a href="" class="createacc">Proceed</a>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

