<div class="container-fluid">
    <div class="fboverlay">
        <div class="fb-popup divhide">
            <div class="phead">Share This on Facebook<span class="pull-right"><i class="fa fa-times"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="padding10">
                <form>
                    <input type="text" placeholder="Say something about this...">
                </form>
                <div class="row share-info">
                    <div class="col-xs-3">
                        <img src="../images/face.png" alt="">
                    </div>
                    <div class="col-xs-9">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantiumLorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium.</p>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit">Cancel</button>
                    <button type="submit" class="post-btn">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>