<div class="footernew">
    <div class="container">
        <div class="row">
<!--
            <div class="col-md-4">
                <div class="logoimg">
                    <div class="pull-left">
                        <img src="images/logo_black.png" alt="">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
-->
            <div class="col-md-6 pull-left pad-up">
                <div class="rights">
                    &copy; {{template.year}} All rights reserved.
                </div>
            </div>
            <div class="col-md-6 pull-right text-right pad-up">
                <div class="terms">
                    <a href="#/termsandcondition">Terms &amp; Condition</a> / <a href="#/policy">Privacy policy</a> / <a href="#/aboutUs/2">FAQ</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
</footer>