<footer>
    <div class=" bottommenu" ng-controller="footer">
        <div class="container">
            <div class="wrap row">
                <div class="col-md-2">
                    <h5>ABOUT US</h5>
                    <!--
                    <ul class="list-unstyled">
                        <li ng-repeat="page in pages"><a ng-click="topages(page)" class="cpointer">{{page.name}}</a>
                        </li>
                    </ul>
-->
                    <ul class="list-unstyled">
                        <li><a href="#/pages/aboutus">About us</a>
                        </li>
                        <li><a href="#/pages/team">Team &amp; Advisors</a>
                        </li>
                        <li><a href="#/works">How it works</a>
                        </li>
                        <li><a href="#/pages/faq">FAQ's</a>
                        </li>
                        <li><a href="#/workwithus">Work with us</a>
                        </li>
                        <!--
                        <li><a href="#/blog">Blog</a>
                        </li>
-->
                        <li><a href="#/contactus">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 ftr-tweets">
                    <h5>RECENT TWEETS</h5>
                    <a class="twitter-timeline" href="https://twitter.com/mypowerforone" data-widget-id="586427388730281984">Tweets by @mypowerforone</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                    <!--
                    <p>
                        <span class="best">@bestwebsoft</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus odit magni incidunt</br> <span class="time">5 minutes ago</span>
                    </p>
                    <p>
                        <span class="best">@bestwebsoft</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus odit magni incidunt</br> <span class="time1">1 day ago</span>
                    </p>
-->
                </div>
                <div class="col-md-3 ftr-news">
                    <h5>NEWSLETTER SIGNUP</h5>
                    <p>
                        Find out how people's contributions are changing the world
                        <div ng-if="message==0">
                           <form class="frm-bdr" ng-submit="submitnewsletter(news)">
                            <input type="email" class="form-control emailEnter" placeholder="Enter your e-mail address *" ng-class="allvalidation[0].validation" required ng-model="news.email">
                            <button type="submit" class="btn btn-warning btn-yellow">SIGNUP</button>
                            </form>
                            <!--                        <span class="ftr-error pull-right"  style="display:none;">Error in saving.</span>-->

                            <!--                        <span class="ftr-green pull-right">Saved successful.</span>-->
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="news-thnq" ng-if="message==1">
                            <p>Thank you for Subscribing!</p>
                        </div>
                        
                        <div class="news-error" ng-if="message==2">
                            <p>You have already Subscribed!</p>
                        </div>

                    </p>

                </div>
                <div class="col-md-3 ftr-category">
                    <h5>CATEGORIES</h5>
                    <ul class="list-unstyled">
                        <li ng-repeat="cat in categories"><a href="#/explore/{{cat.id}}">{{cat.name}}</a>
                        </li>
                    </ul>
                    <!--
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>CATEGORIES</h5>
                            <ul class="list-unstyled">
                                <li ng-repeat="cat in categories"><a href="#/explore/{{cat.id}}">{{cat.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 last">
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/powerforone" class="facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                                </li>
                                <li><a href="https://www.pinterest.com/powerforone/" class="pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                                </li>
                                <li><a href="https://twitter.com/mypowerforone" class="twitter"><i class="fa fa-twitter"></i> Twitter</a>
                                </li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"   ></i> Instagram</a>
                                </li>
                                <li><a href="#" class="linked"><i class="fa fa-linkedin"></i> Linkedin</a>
                                </li>

                            </ul>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>