<div class="footernew">
    <div class="container">
        <div class="row">
            <!--
            <div class="col-md-4">
                <div class="logoimg">
                    <div class="pull-left">
                        <img src="images/logo_black.png" alt="">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
-->
            <div class="col-md-4 pad-up">
                <div class="rights">
                    &copy; {{template.year}} All rights reserved.
                </div>
            </div>
            <div class="col-md-4 pad-up">
                <ul class="list-inline social-links">
                    <li><a href="https://www.facebook.com/powerforone?fref=ts" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://twitter.com/mypowerforone" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="#" class="linked"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://in.pinterest.com/powerforone" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right pad-up">
                <div class="terms">
                    <a href="#/termsandcondition">Terms &amp; Conditions</a> / <a href="#/policy">Privacy policy</a>
                </div>
            </div>
        </div>
    </div>

</div>
</footer>