<div class="container">
   <div class="form-fixhead"></div>
    <div class="holder1">
        <div class="row">

            <div class="col-md-12">
                <div class="forgot-pwd text-center">
                    <h3 class="createtitle">Forgot your password?</h3>
                    <div>
<!--                        <form>-->
                            <input type="email" class="custom-input signin-input" ng-model="user.email" placeholder="Enter your email *" ng-class="allvalidation[0].validation" required>
                            <br>
                          
                           
                            <button class="createacc cpointer" ng-click="">Submit</button>
<!--                        </form>-->
                    </div>
                </div>
            </div>

          
            
        </div>
        
<!--
        <div class="border1">
           <p class="abc"> <a href="#register" class="forgetlink"> Forgot your password? </a><span class="already">Don't have an account ? Click here to <a href="" class="loginlink"> create one </a></span></p>
            
            
        </div>
-->
        
    </div>
</div>

