<header>

    <div class="header">

        <div class="sliderheadercampaign" ng-style="bgimage">

            <div class="container">
                <div class="fixhead"></div>
                <div class="headerzindex head-fix">
                    <div class="row">
                        <div class="col-xs-3">
                            <div>
                                <a href="#/Home">
                                    <img class="logtext" src="images/logo.png" />
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <nav class="navbar navbar-default nav-custom">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <div class="logo2">
                                        <ul class="nav navbar-nav nav-power thin text-center" ng-include="template.menu" ng-hide="scrolled > greatHeight"></ul>
                                        <ul class="nav navbar-nav nav-power thin text-center inliner" ng-show="scrolled > greatHeight">
                                            <li>
                                                <img src="images/donate123.png"><a ng-click="gotoElement('atdonate')">&nbsp; Donate</a>
                                            </li>
                                            <li>
                                                <img src="images/share123.png"><a ng-click="gotoElement('atshare')">&nbsp; Raise awareness</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>

                        <div class="col-xs-2">
                            <div class="hidden-xs hidden-sm headmargin pull-right">
                                <div class="padingregister">{{demo}}
                                    <a ng-click="onregister()" class="login">{{register}}</button>
                                    <a ng-click="onlogin()" class="login">{{login}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-3">
                        <div class="helpbox text-center">
                            <h3>{{project.tagline}}</h3>
                            <div class="info">
                                <p>{{project.cardtagline}}</p>
                                <div class="datapoint1" ng-repeat="datap in datapoint">
                                    <div class="img1" ng-repeat="data in datap"><i class="icon-star"></i>
                                        <p>{{data.name}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>
