<header>

    <div class="bckgrndhead border-yellow ">
        <div align="center">
            <object class="embed-responsive-item">
                <video id="video" class="home-video" loop="loop" preload="auto" autoplay="autoplay" muted>
                    <source src="images/video.mp4" type="video/mp4">
                </video>
            </object>
        </div>
        

        <div class="headerzindex head-fix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#/Home">
                            <img class="log" src="images/logo.png" />
                        </a>
                    </div>
                    <div class="col-md-7">
                        <nav class="navbar navbar-default nav-custom">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                
                
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav nav-power thin text-center" ng-include="template.menu"></ul>
                            </div>
                
                        </nav>
                    </div>
                
                    <div class="col-md-2">
                        <div class="headmargin pull-right">
                            <a href="" class="login">Register</button>
                                    <a href="" class="login">Login</a>
                        </div>
                    </div>
                
                
                </div>
            </div>
        </div>

       <div class="head-hold"></div>
       
        <div class="head-on home text-center">
            <h3><b>Show you Care <br> <span class="bold"></b></span></h3>
            <p>Support causes that you care about with your money, time or social network</p>
            <br>
            <a href="3" class="btn btn-dark">How it works?</a>

        </div>


    </div>


</header>