<div class="bckgrndhead border-yellow ">

    <object class="embed-responsive-item">
        <div class="black-overlay"></div>
        <video id="video" class="home-video" loop="loop" preload="auto" autoplay="autoplay" muted>
            <source src="images/video.webm" type="video/webm">
                <source src="images/video.mp4" type="video/mp4">
        </video>
    </object>
</div>

<header>
    <div class="headerzindex head-fix">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="#/Home">
                        <img class="log" src="images/logo.png" />
                    </a>
                </div>
                <div class="col-xs-7">
                    <nav class="navbar navbar-default nav-custom">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>


                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav nav-power thin text-center" ng-include="template.menu"></ul>
                        </div>

                    </nav>

                </div>

                <div class="col-xs-2 reg-set">
                    <div class="hidden-xs hidden-sm headmargin pull-right" ng-if="login=='Login'">
                        <a ng-click="onregister()" class="login cpointer">{{register | cut:true:8:' ...'}}</button>
                        <a ng-click="onlogin()" class="login cpointer">{{login}}</a>
                    </div>

                    <div class="hidden-xs hidden-sm logout pos" ng-if="login=='Logout'">
                        <span class="member_name cpointer">Power for one</span>
                        <div class="mem_logout">
                            <div class="arrow_log"></div>
                            <ul class="list-unstyled">
                                <li><a href="#">My Profile</a>
                                </li>
                                <li><a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="head-hold"></div>
</header>

<div class="head-on home text-center">
    <h3>Show you Care </h3>
    <p>Support causes that you care about with your money, time or social network</p>
    <a href="#/explore/0" class="btn btn-dark">Explore Project</a>

</div>