<header>
        <div class="header header-black">
           <div class="container">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="logo">
                               <a href="#/Home"> <img class="logblack" src="images/logo_black.png" /></a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <nav class="navbar navbar-default nav-custom">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav nav-power thin text-center" ng-include="template.menu"></ul>
                                </div>
                            </nav>
                        </div>

                        <div class="col-md-3">
                            <div class="headmargin pull-right">
                                <a href="" class="login">Register</a>
                                <a href="" class="login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="fixhead">
                 
             </div>
    </header>