<header>

    <div class="header">
      
        <div class="sliderheadercampaign">
          
             <div class="container">
                <div class="headerzindex head-fix">
                 <div class="row">
                    <div class="col-md-3">
                        <div >
                            <a href="#/Home"><img class="logtext" src="images/logo.png" /></a>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <nav class="navbar navbar-default nav-custom">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="logo2">
                                    <ul class="nav navbar-nav nav-power thin text-center" ng-include="template.menu"></ul>
                                </div>
                            </div>
                        </nav>
                    </div>

                    <div class="col-md-2">
                        <div class="headmargin pull-right">
                            <div class="padingregister">
                            

                            
                            
                            <a href="" class="login"> <img src="images/donate123.png"></a>
                                <a href="" class="login"><img src="images/share123.png"></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
               </div>
                <div class="short">
                <h2>Campaign Short Title will <br> go here,If In Two Lines </h2>
                </div>
                <div class="datapoint1">
                    <div class="img1"><i class="icon-star white"></i>
                     <p>Datapoint1</p>
                    </div>
                    <div class="img1"><i class="icon-star white"></i>
                    <p>Datapoint1</p>
                    </div>
                    <div class="img1"><i class="icon-star white"></i>
                    <p>Datapoint1</p>
                    </div>
                </div>
             <div class="explore">
                    <p>Explore More</p>
                    <i class="fa fa-angle-double-down margin-bot"></i>
                </div>
            
           </div>
          
    </div>
   
</header>
