 <div class="header1">
      
         <div class="container">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="logo">
                                <img  class="log" src="images/logo_black.png"/>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <nav class="navbar navbar-default nav-custom">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                               
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navback " ng-include="template.menu"></ul>
                                </div>
                              <!-- /.navbar-collapse -->
                            </nav>
                           
                        
                        <div class="col-md-3">
                            <div class="headmargin pull-right">
                          
                                <a href="" class="btn btn-default ">Register</button>
                                <a href="" class="login23">Login</a>
                            </div>
                            </div>
                        </div>
                           
                         
                    </div>

                </div>
        
    </div>