<div class="clearfix"></div>
<section>
    <div class="wholebody">
        <div class="ychoseus">
            <p>WHY US?</p>
            <div class="hrl"></div>
        </div>
        <div class="thunderheart">
            <ul class="list-inline">
                <li>
                    <i class="whycons w1"></i>
                    <p>Access Vetted Projects</p>
                </li>
                <li>
                    <i class="whycons w2"></i>
                    <p>Donate Small Amounts Regularly</p>
                </li>
                <li>

                    <i class="whycons w4"></i>

                    <p>Double Your Impact</p>
                </li>
                <li>
                    <i class="whycons w3"></i>
                    <p>Get Rewarded</p>
                </li>
                <li> <i class="whycons w5"></i>
                    <p>Get Regular Reports</p>
                </li>

            </ul>
        </div>
        <div class="ychoseus">
            <p class="">Choose a cause</p>
            <div class="hrl"></div>
        </div>
    </div>


    <div class="sliderside">
        <div class="flexside" ng-repeat="cat in categories">
            <div class="imgslider">
                <img src="{{cat.image | categoryimagepath}}">
                <div class="black-overlay"></div>
            </div>

            <div class="relativetxt" ng-click="toexplore(cat)">
                <i class="{{cat.name | fourletter | lowercase}} caticons"></i>
                <p>{{cat.name}}</p>
            </div>
        </div>
<!--
        <div class="flexside">
            <div class="imgslider">
                <img src="images/categoryimg/educationnew.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="child caticons"></i>
                <p>Child Welfare</p>
            </div>
        </div>
        <div class="flexside">
            <div class="imgslider">
                <img src="images/categoryimg/employment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="emplo caticons"></i>
                <p>Employment</p>
            </div>
        </div>
        <div class=" flexside">
            <div class="imgslider">
                <img src="images/categoryimg/environment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="enivr caticons"></i>
                <p>Environment and Animal Welfare</p>
            </div>

        </div>
        <div class="flexside">
            <div class="imgslider">
                <img src="images/categoryimg/healthandsanitation.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="healt caticons"></i>
                <p>Health and Sanitation</p>
            </div>
        </div>
        <div class="flexside">
            <div class="imgslider">
                <img src="images/categoryimg/welfareofedlerly.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="welfa caticons"></i>
                <p>Welfare of the Elderly</p>
            </div>
        </div>
        <div class="flexside">
            <div class="imgslider">
                <img src="images/categoryimg/womaneempowerment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="women caticons"></i>
                <p>Woman Empowerment</p>
            </div>
        </div>
-->
    </div>

    <div class="container wholebody">

        <div class="ychoseus">
            <p>NOTEWORTHY.</p>
            <div class="hrl"></div>
        </div>

        <div class="bottom1">
            <p class="viewAll" ng-click="gotoexplore()">(View All)</p>
            <div class="row mainCause">
                <div class="col-md-4 causelnk" ng-if="displayproject[0]">
                    <a href="#/campaign/{{displayproject[0].id}}">
                        <div class="causes text-center">
                            <div class="pic">

                                <img ng-src="{{displayproject[0].image | projectbannerimagepath}}">

                                <div class="mumbai-in">
                                    <h5><i class="fa fa-map-marker"></i> Mumbai, IN</h5>
                                </div>

                            </div>
                            <h3>{{displayproject[0].tagline}}</h3>

                            <div class="info">
                                <p>{{displayproject[0].tagline}}</p>
                                <h5>{{displayproject[0].ngoname}}</h5>
                                <img ng-src="{{displayproject[0].ngoimage | ngoimagepath}}">

                                <!--
                            <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
-->

                            </div>
                        </div>
                    </a>

                </div>
                
                
                <div class="col-md-4 causelnk" ng-if="displayproject[1]">
                    <a href="#/campaign/{{displayproject[1].id}}">
                        <div class="causes text-center">
                            <div class="pic">

                                <img ng-src="{{displayproject[1].image | projectbannerimagepath}}">

                                <div class="mumbai-in">
                                    <h5><i class="fa fa-map-marker"></i> Mumbai, IN</h5>
                                </div>

                            </div>
                            <h3>{{displayproject[1].tagline}}</h3>

                            <div class="info">
                                <p>{{displayproject[1].tagline}}</p>
                                <h5>{{displayproject[1].ngoname}}</h5>
                                <img ng-src="{{displayproject[1].ngoimage | ngoimagepath}}">

                                <!--
                            <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
-->

                            </div>
                        </div>
                    </a>

                </div>
            
                <div class="col-md-4 causelnk" ng-if="displayproject[2]">
                    <a href="#/campaign/{{displayproject[2].id}}">
                        <div class="causes text-center">
                            <div class="pic">

                                <img ng-src="{{displayproject[2].image | projectbannerimagepath}}">

                                <div class="mumbai-in">
                                    <h5><i class="fa fa-map-marker"></i> Mumbai, IN</h5>
                                </div>

                            </div>
                            <h3>{{displayproject[2].tagline}}</h3>

                            <div class="info">
                                <p>{{displayproject[2].cardtagline}}</p>
                                <h5>{{displayproject[2].ngoname}}</h5>
                                <img ng-src="{{displayproject[2].ngoimage | ngoimagepath}}" height="50px" width="50px">

                                <!--
                            <div class="elements row">
                                <div class="col-xs-6">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="Funded">CATEGORY</p>
                                    <i class="b-educa caticonsb mt5"></i>
                                </div>
                            </div>
-->

                            </div>
                        </div>
                    </a>

                </div>

                
            </div>






        </div>


    </div>
    <div class="container">
    
<div>
  <div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="testimonial in testimonials" active="slide.active">
        <img ng-src="testimonial.image | testimonialimagepath" style="margin:auto;">
        <div class="carousel-caption">
         {{testimonial.name}}
        </div>
      </slide>
    </carousel>
  </div>
  
</div>




<!--
        <div class="imageset">
          
                <div class="row" ng-repeat="testimonial in testimonials">
                <div class="col-md-2 text-center">
                <div ng-show="$index<4" class="pickweek">
                
                   <img src="testimonial.image | testimonialimagepath" class="img-responsive" ng-show="showslideset1==0">
                </div>
                </div>
                <div class="col-md-10">
                <span ng-show="$index>=4" class="pickweek">
                    <div class="cont52">
                     {{testimonial.name}}
                     </div>
                </span>
               </div>
                </div>
           
        </div>
-->
 
<!--
    <wrap-owlcarousel class="owl-carousel testimonials" data-options="{autoPlay: true, stopOnHover: true,  
            slideSpeed : 300, paginationSpeed : 400,pagination:false, singleItem : true}">
        <div class="row" ng-repeat = "testimonial in testimonials">
            <div class="col-md-2 text-center">
                <img src="testimonial.image | testimonialimagepath" class="img-responsive">
            </div>
            <div class="col-md-10">
                <div class="cont52">
                    {{testimonial.name}}
                </div>
            </div>
        </div>

    </wrap-owlcarousel>
-->
</div>
    
    
    
<!--
    
    <div class="container-fluid">
-->
        <!--
           <div class="owl-carousel testimonials">
                    <div class="author">
                        <div class="col-xs-2 text-center">
                            <img src="images/face.png" class="img-responsive">
                        </div>
                        <div class="col-xs-10">
                            <div class="cont52">
                                "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                            </div>
                        </div>
                    </div>
                    <div class="author">
                        <div class="col-xs-2 text-center">
                            <img src="images/face.png" class="img-responsive">
                        </div>
                        <div class="col-xs-10">
                            <div class="cont52">
                                "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                            </div>
                        </div>
                    </div>
                    <div class="author">
                        <div class="col-xs-2 text-center">
                            <img src="images/face.png" class="img-responsive">
                        </div>
                        <div class="col-xs-10">
                            <div class="cont52">
                                "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                            </div>
                        </div>
                    </div>
                    
            </div>
-->
        
<!--
            <wrap-owlcarousel class="owl-carousel testimonials" data-options="{autoPlay: true, stopOnHover: true,  
            slideSpeed : 300, paginationSpeed : 400,pagination:false, singleItem : true}">
               <div class="author">
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <img src="images/face.png" class="img-responsive">
                    </div>
                    <div class="col-xs-10">
                        <div class="cont52">
                            {{testimonial1.content}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <img src="images/face.png" class="img-responsive">
                    </div>
                    <div class="col-xs-10">
                        <div class="cont52">
                            {{testimonial2.content}}
                        </div>
                    </div>
                </div>
                </div>
            </wrap-owlcarousel>
     
    </div>
-->


    <!--
    <div class="ychoseus">
        <p>CONNECT</p>
        <div class="hrl"></div>
    </div>

    <div class="connectfacebook">

        <img src="images/halfconnect.png" width="100%" height="100%" alt="">
        <div class="connectbutton">
            <p class="pull-left"><b>Discover The Great Projects <br> With Your <span style="color:#4274b7">Friends</span> !</b>
            </p>
            <button class="pull-right">Connect With Facebook</button>
        </div>
    </div>
-->
    <!--
<script>
$(document).ready(function() {
 $(".testimonials").owlCarousel({
 
//      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      pagination:false,
      autoPlay:true,
 
  });

});    
</script>
-->

</section>


<script>
angular.module('ui.bootstrap.demo').controller('CarouselDemoCtrl', function ($scope) {
  $scope.myInterval = 5000;
  var slides = $scope.slides = [];
  $scope.addSlide = function() {
    var newWidth = 600 + slides.length + 1;
    slides.push({
      image: 'http://placekitten.com/' + newWidth + '/300',
      text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
        ['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
    });
  };
  for (var i=0; i<4; i++) {
    $scope.addSlide();
  }
});
</script>