<section>
    <div class="container wholebody">
        <div class="ychoseus">
            <p>WHY US?</p>
            <div class="hrl"></div>
        </div>
        <div class="thunderheart">
            <ul class="list-inline">
                <li>
                    <i class="whycons w1"></i>
                    <p>Access Screened &amp; Vetted Projects</p>
                </li>
                <li>
                    <i class="whycons w2"></i>
                    <p>Donate in small amounts regularly</p>
                </li>
                <li>
                    <i class="whycons w3"></i>

                    <p>Get Rewarded</p>
                </li>
                <li>
                    <i class="whycons w4"></i>
                    <p>Double your Impact</p>
                </li>
                <li> <i class="whycons w5"></i>
                    <p>Get regular reports on your Impact</p>
                </li>

            </ul>
        </div>
        <div class="ychoseus">
            <p class="">Choose a cause</p>
            <div class="hrl"></div>
        </div>
    </div>


    <div class="sliderside">
        <div class="silder1 flexside">

            <div class="imgslider">
                <img src="images/categoryimg/childwelfare.jpg">
                <div class="black-overlay"></div>
            </div>

            <div class="relativetxt">
                <i class="educat caticons"></i>
                <p>Earth</p>
            </div>


        </div>
        <div class="silder2 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/educationnew.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">

                <i class="child caticons"></i>
                <p>Child Welfare</p>
            </div>
            <div>
                <i class="child cat-slider"></i>
            </div>
        </div>
        <div class="silder3 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/employment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="women caticons"></i>
                <p>Women Employment</p>
            </div>

        </div>
        <div class="silder4 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/environment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="eniv caticons"></i>
                <p>Environment</p>
            </div>

        </div>
        <div class="silder5 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/healthandsanitation.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="health caticons"></i>
                <p>Health And Sanitation</p>
            </div>
        </div>
        <div class="silder5 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/welfareofedlerly.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="welfare caticons"></i>
                <p>Welfare Of Ederly</p>
            </div>
        </div>
        <div class="silder5 flexside">
            <div class="imgslider">
                <img src="images/categoryimg/womaneempowerment.jpg">
                <div class="black-overlay"></div>
            </div>
            <div class="relativetxt">
                <i class="women1 caticons"></i>
                <p>Woman Empowerment</p>
            </div>
        </div>
    </div>

    <div class="container wholebody">

        <div class="ychoseus">
            <p>NOTEWORTHY.</p>
            <div class="hrl"></div>
        </div>

        <div class="bottom1">
            <p class="viewAll">(View All)</p>
            <div class="row mainCause">
                <div class="col-md-4">
                    <div class="causes text-center">
                        <div class="pic">
                            <img src="images/explore.jpg">

                            <div class="mumbai-in">

                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                            <h5>NGO NAME</h5>
                            <img src="images/tata_icon.png">
                            <div class="elements row">
                                <div class="col-xs-4">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <P class="Funded">PLEDGED</P>
                                    <div class="txt3">Rs.2,30,452</div>
                                </div>
                                <div class="col-xs-4">
                                    <p class="Funded">CATEGORY</p>
                                    <div class="txt3"><i class="educat cat-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="causes text-center">
                        <div class="pic">
                            <img src="images/explore.jpg">

                            <div class="mumbai-in">

                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                            <h5>NGO NAME</h5>
                            <img src="images/tata_icon.png">
                            <div class="elements row">
                                <div class="col-xs-4">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <P class="Funded">PLEDGED</P>
                                    <div class="txt3">Rs.2,30,452</div>
                                </div>
                                <div class="col-xs-4">
                                    <p class="Funded">CATEGORY</p>
                                    <div class="txt3"><i class="educat cat-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="causes text-center">
                        <div class="pic">
                            <img src="images/explore.jpg">

                            <div class="mumbai-in">

                                <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                            </div>
                        </div>
                        <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                            <h5>NGO NAME</h5>
                            <img src="images/tata_icon.png">
                            <div class="elements row">
                                <div class="col-xs-4">
                                    <p class="Funded">FUNDED</p>
                                    <div class="circle">
                                        <div class="txt2">230%</div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <P class="Funded">PLEDGED</P>
                                    <div class="txt3">Rs.2,30,452</div>
                                </div>
                                <div class="col-xs-4">
                                    <p class="Funded">CATEGORY</p>
                                    <div class="txt3"><i class="educat cat-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
 <div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
   <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
</div>
-->


            <div class=" row">
                <div class="col-md-2 text-center">
                    <img src="images/face.png" class="img-responsive">
                </div>
                <div class="col-md-10">
                    <div class="cont">
                        "Duis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eligendi ea praesentium, obcaecati rem aspernatur. Sint obcaecati quis id, molestias, ex excepturi."
                    </div>
                </div>
            </div>
        </div>


    </div>


    </div>

    <div class="ychoseus">
        <p>CONNECT</p>
        <div class="hrl"></div>
    </div>

    <div class="connectfacebook">

        <img src="images/halfconnect.png" width="100%" height="100%" alt="">
        <div class="connectbutton">
            <p class="pull-left"><b>Discover The Great Projects <br> With Your <span style="color:#4274b7">Friends</span> !</b>
            </p>
            <button class="pull-right">Connect With Facebook</button>
        </div>
    </div>


</section>


