<li><i class="icon-star white"></i>
</li>
<li ng-repeat="menu in navigation" class="{{menu.classis}}"><a href="{{menu.link}}" class="ifbold">{{menu.name}}</a>
</li>
<div class="visible-xs visible-sm nav-sm headmargin" ng-if="login=='Login'">
    <a ng-click="onregister()" class="login cpointer">{{register}}</button>
    <a ng-click="onlogin()" class="login cpointer">{{login}}</a>
</div>
<div class="visible-xs visible-sm logout pos" ng-if="login=='Logout'">
    <span class="member_name cpointer">Power for one</span>
    <div class="mem_logout">
        <div class="arrow_log"></div>
        <ul class="list-unstyled">
            <li><a href="#">My Profile</a>
            </li>
            <li><a href="#">Logout</a>
            </li>
        </ul>
    </div>
</div>