<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="rewardsdet">
                    <ul class="mypro">
                        <li class="active">
                            <i class="rewards1"></i><span>My Profile</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile">
                    <img src="images/nameProfile.png" alt=""><span>Name Profile</span>

                    <div class="info">
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Email</p>
                                </div>
                                <div class="col-md-9 fontwt">Shjekqskks@gmail.com
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Phone</p>
                                </div>
                                <div class="col-md-9 fontwt">93399999999
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Address</p>
                                </div>
                                <div class="col-md-9 fontwt">Address Line1
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Cause Helped</p>
                                </div>
                                <div class="col-md-9 fontwt causehelped">12 out of 100</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Awareness raise</p>
                                </div>
                                <div class="col-md-9 fontwt"><i class="fa fa-facebook-square"></i><span>10</span><span> <i class="fa fa-twitter"></i><span>20</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Total Donation Made</p>
                                </div>
                                <div class="col-md-9 fontwt totaldonate">10000000002</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="name">
                                <div class="col-md-3">
                                    <p>Joined PF0</p>
                                </div>
                                <div class="col-md-9 fontwt JoinedPfo">Yes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">


                <div class="view1">Contributed</div>
                <div style="height:auto">
                    <carousel interval="myInterval">
                        <slide ng-repeat="testimonial in testimonials" active="slide.active">
                            <div class="row mainCause" ng-repeat="project in projects">
                                <div class="causelnk" ng-repeat="pro in project">
                                    <a href="#/campaign/{{pro.id}}">
                                        <div class="causes text-center">
                                            <div class="pic">
                                                <img ng-src="{{pro.image | projectbannerimagepath}}">

                                                <div class="mumbai-in">
                                                    <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                                                </div>
                                            </div>
                                            <h3>{{pro.tagline}}</h3>
                                            <div class="info">
                                                <p>{{pro.cardtagline}}</p>
                                                <h5>{{pro.ngoname}}</h5>
                                                <img ng-src="{{pro.ngoimage | ngoimagepath}}">

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
                <!--
                <wrap-owlcarousel class="owl-carousel" data-options="autoPlay: true, stopOnHover: true,slideSpeed : 300, paginationSpeed:400,pagination:false, singleItem : true">

                    <div class="row mainCause no-margin">
                        <div class="col-md-12 causelnk">
                            <a href="#/campaign">
                                <div class="causes text-center">
                                    <div class="pic">
                                        <img src="images/explore.jpg">

                                        <div class="mumbai-in">
                                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                                        </div>
                                    </div>
                                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                                    <div class="info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                                        <h5>NGO NAME</h5>
                                        <img src="images/tata_icon.png">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row mainCause no-margin">
                        <div class="col-md-12 causelnk">
                            <a href="#/campaign">
                                <div class="causes text-center">
                                    <div class="pic">
                                        <img src="images/explore.jpg">

                                        <div class="mumbai-in">
                                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                                        </div>
                                    </div>
                                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                                    <div class="info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                                        <h5>NGO NAME</h5>
                                        <img src="images/tata_icon.png">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row mainCause no-margin">
                        <div class="col-md-12 causelnk">
                            <a href="#/campaign">
                                <div class="causes text-center">
                                    <div class="pic">
                                        <img src="images/explore.jpg">

                                        <div class="mumbai-in">
                                            <h5><span><i class="fa fa-map-marker"></i>&nbsp;</span>Mumbai, IN</h5>
                                        </div>
                                    </div>
                                    <h3>CAMPAIGN SHORT TITLE   WILL GO HERE, IF IN TWO LINES</h3>
                                    <div class="info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam laudantium</p>
                                        <h5>NGO NAME</h5>
                                        <img src="images/tata_icon.png">

                                    </div>
                                </div>
                            </a>
                        </div>
                </wrap-owlcarousel>
-->
            </div>



            <script>
                $scope.myInterval = 5000;
            </script>


        </div>
    </div>
</div>