 <section>
      <article>
        <div class="main1">
            <div class="container">
                <div class="row">
                   <div class="col-md-8">
                          <div class="middle">
                        <h2>WHAT IS THE PFO ARMY?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                        <p class="Paraabout">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequuntur odio, quam cupiditate natus corporis doloremque voluptatibus mollitia, fugiat laudantium impedit. Ullam ratione labore aut repellat dolores praesentium sed quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque non iure rerum, sunt commodi itaque earum dignissimos esse a magni quod, asperiores eaque necessitatibus ipsam placeat rem modi perspiciatis! Quae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe alias sequi tempora, ex rerum, possimus ullam ab iusto in unde. Velit, aliquid, laudantium quisquam animi corporis praesentium eligendi pariatur.</p>
                        <div class="apply">
                            <button type="button" class="btn btn-warning">APPLY NOW</button>
                        </div>
                    </div>
                       
                   </div>
                   <div class="col-md-4">
                   <div class="formprarmy">
                   <h2>Get In Touch</h2>
                   <form  class="form-horizontal">
                   <input type="text" placeholder="Name">
                   <input type="text" placeholder="Email">
                   <input type="text" placeholder="Number">
                   <input type="text" placeholder="Name">
                   <button class="subbtn">Submit</button>
                   </form>
                    </div>
               </div>
            </div>
        </div>
    </article>
 </section>
