<div class="container">
    <div class="holder">
        <div class="row">

            <div class="col-md-7">
                <div class="signin">
                    <h3 class="createtitle">Create an account</h3>
                    <div class="signinor">
                        <form>
                           <input name="name" type="text" class="custom-input signin-input" ng-model="user.name" placeholder="Name">
                           
                            <br>
                             <input name="email" class="custom-input signin-input" ng-model="user.email" placeholder="Enter your email">
                            <br>
                           
                            <input type="password" name="password" class="custom-input signin-input" ng-model="user.password" placeholder="Password">
                            <br>
                            <a class="createacc" ng-click="createuser(user)"> CREATE AN ACCOUNT </a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="gogbtn">
                   <a href="http://localhost/powerforone/index.php/hauth/login/Google?returnurl=http://localhost/angular-powerforone" class="btnsoc gplus"><i class="fa fa-google-plus"></i> Sign in with Google </a>
                    <a href="http://localhost/powerforone/index.php/hauth/login/Facebook?returnurl=http://localhost/angular-powerforone" class="btnsoc fbook"><i class="fa fa-facebook"></i> Sign in with Facebook </a>
                </div>
            </div>

        </div>



        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
    </div>
</div>

