<div class="container">
   <div class="form-fixhead"></div>
    <div class="holder1">
        <div class="row">

            <div class="col-md-7">
                <div class="signin">
                    <h3 class="createtitle">Create an account</h3>
                    <div class="signinor">
                        <form>
                           <input type="text" class="custom-input signin-input" ng-model="user.name" placeholder="Name *" ng-class="allvalidation[0].validation" required>
                           
                            <br>
                             <input type="email" class="custom-input signin-input" ng-model="user.email" placeholder="Enter your email *" ng-class="allvalidation[1].validation" required>
                            <br>
                           
                            <input type="password" class="custom-input signin-input" ng-model="user.password" placeholder="Password" ng-class="allvalidation[2].validation" required>
                            <br>
                            <a class="createacc cpointer" ng-click="createuser(user)"> CREATE AN ACCOUNT </a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="gogbtn">
                   <a href="http://wohlig.co.in/powerforone/index.php/hauth/login/Google?returnurl=http://wohlig.co.in/angular-powerforone" class="btnsoc gplus"> Sign in with Google </a>
                    <a href="http://wohlig.co.in/powerforone/index.php/hauth/login/Facebook?returnurl=http://wohlig.co.in/angular-powerforone" class="btnsoc fbook"> Sign in with Facebook </a>
                </div>
            </div>

        </div>



        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
    </div>
</div>

