<div class="container">
    <div class="holder">
        <div class="row">

            <div class="col-md-7">
                <div class="signin">
                    <h3 class="createtitle">Create an account</h3>
                    <div class="signinor">
                        <form>
                           <input name="name" type="text" class="custom-input signin-input" value="" placeholder="Name">
                           
                            <br>
                             <input name="email" class="custom-input signin-input" value="" placeholder="Enter your email">
                            <br>
                           
                            <input type="password" name="password" class="custom-input signin-input" placeholder="Password">
                            <br>
                            <a href="" class="createacc"> CREATE AN ACCOUNT </a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="gogbtn">
                    <a href="" class="btnsoc gplus"><i class="fa fa-google-plus"></i> Signup with Google </a>
                    <a href="" class="btnsoc fbook"><i class="fa fa-facebook"></i> Signup with Facebook </a>
                </div>
            </div>

        </div>



        <div class="border1">
            <p class="already">Already have an account? Click here to <a href="#login" class="loginlink"> Login </a>
            </p>
        </div>
    </div>
</div>

