<div class="container">
    <div class="form-fixhead"></div>
    <div class="holder1">
        <div class="row">
            <div class="col-md-12">
                <div class="forgot-pwd text-center">
                    <h3 class="createtitle">Reset Password</h3>
                    <h6>{{mesg}}</h6>
                    <div>
                        <!--                        <form>-->
                        <input type="password" class="custom-input signin-input" ng-model="pass.password" placeholder="Enter New Password *" ng-class="allvalidation[0].validation" required>
                        <br>
                        <input type="password" class="custom-input signin-input" ng-model="pass.confpassword" placeholder="Comfirm New Password *" ng-class="allvalidation[1].validation" required>
                        <br>

                        <button class="createacc cpointer" ng-click="resetpass(password,confpassword)">Submit</button>
                        <!--                        </form>-->
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="border1">
           <p class="abc"> <a href="#register" class="forgetlink"> Forgot your password? </a><span class="already">Don't have an account ? Click here to <a href="" class="loginlink"> create one </a></span></p>
            
            
        </div>
-->

    </div>
</div>