
    <div class="content">
        <div class="container ">
            <div class="row">
               <div class="head-cont">
                <div class=" col-md-12 cls1">
                    <div class="col-md-9">
                        <!--    <div class="label1">-->
                        <span class="reward"> <h3><b>PICK YOUR REWARDS </b></h3>  </span> 
                        <!--</div>-->


                    </div>
                    <div class="col-md-3">
                        <div class="proceed_1  pull-right">
                            <a href="">PROCEED</a>

                        </div>
                    </div>
                    <!--               <button class="btn btn-default pull-right">PROCEED</button>-->
                   </div></div>
            </div>
            </header>
            <div class="row">
                <div class="col-md-2">
                    <div class="cate">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">CATEGORY <span class="icon fa fa-check pull-right"></span></a>
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                            <!--i class="fa fa-check"></i>-->
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                            <a href="#" class="list-group-item">CATEGORY<span class="icon fa fa-check pull-right"></a>
                        </div>
                    </div>

                </div>


                <div class="col-md-10">
                   
                    <div class="row rewardrow ">
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/pizza.png">


<!--
                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>
-->

                                    <div class="box-tag">
                                       <b> Offer till buy one get one free </b>
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                      <!--  <p>Valid against min bill of &#8377 10</p>-->
                                    
                                        <a href="" class="readterms">Read terms+</a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>


<div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                      <!--  <p>Valid against min bill of &#8377 10</p>-->
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
                        
                        
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                      <!--  <p>Valid against min bill of &#8377 10</p>-->
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
                        
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
                        
-->
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
<!--
                        
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                        
<!--
                        <div class="col-md-3">

                            <div class="s">
                                <div class="one">


                                    <img class="starter-template img-responsive imhheight" src="images/flipkart.png">


                                    <div class="pick">
                                        <a href=""><i class="fa fa-plus"></i> PICK FOR &#8377 5</a>
                                    </div>

                                    <div class="box-tag">
                                        Get free bugger and ice tea with your meal
                                        
                                        
                                        
                                        <p class="description-bill-amount">Valid against min bill of ₹ 100</p>
                                        <p>Valid against min bill of &#8377 10</p>
                                    
                                        <a href="" class="readterms">Read terms &#8594 </a>
                                    </div>
                                           <div class="left"> <span class="save-text">SAVE</span>
                                            <p class="price"><span class="webRupee">₹</span>25</p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="expiry"><span>Expiry</span> 31 Jan 2015</p>
                                        </div>

                                </div>

                            </div>
                        </div>
-->
                        
                    </div>
                </div>


           
           
            </div>
        </div>





