<div class="container content-page">
    <div class="row">
        <div class="col-md-3">
            <ul class="list1">
                           <li class="cat-list active"><a href="#/aboutUs">About Us</a>
                            </li>
                            <li class="cat-list"><a href="#/teampage">Team &amp; advisors</a>
                            </li>
                            <li class="cat-list"><a href="#/faq">FAQ</a>
                            </li>
                             <li class="cat-list"><a href="#/workwithus">Work with us</a>
                            </li>
                             <li class="cat-list"><a href="#/proarmy">Pro Army</a>
                            </li>

                        </ul>
        </div>
        <div class="col-md-9">
            <h2>BOARD OF DIRECTORS</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
            </div>
            <h2>OUR TEAM</h2> 
            <div class="row">
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="socials pull-right">
                        <a href=""><i class="fa fa-twitter-square twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square facebook"></i></a>
                    </div>
                    <div class="teamcircle ">
                        <img src="images/profile.jpeg" class="img-circle " alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <h4>Brad Pitt, CEO</h4>
                        <p class="intro-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="more-line">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>