<div class="container">
    <div class="row">


        <div class="dear">YOU ARE TRULY AWESOME.
            <br>THANK YOU FOR TAKING THE TIME TO HELP
            <br>MAKE THE WORLD A BETTER PLACE.
        </div>

    </div>
</div>



<div class="next1">NEXT STEPS:</div>


<div class="container">
    <div class="row">
        <div ng-bind-html="page.content | rawHtml">

        </div>
<!--
        <ol class="nxt1cont">
            <li>Ishaan&nbsp;Kapoor will be your point of contact you can call him on +91-9833289081 for any questions you may have.</li>
            <li>We will send you two&nbsp;reports via email highlighting the utilisation of funds and the impact made.</li>
            <li>Follow us on our social media where you will see updates on the work we are doing.</li>
            <li>Please share your Name & Email Address for Reports on the Impact & Utilization of the funds.</li>
        </ol>
-->
       <p ng-show="msg || msg!=''" ng-class="msgcolor">{{msg}}</h6>
        <form class="form-inline" style="margin-left:45px" ng-submit="thankyousubmit(thankyou)">
            <input type="text" class="custom-input signin-input width10" placeholder="Name *" ng-model="thankyou.name" ng-class="allvalidation[0].validation" required>
            <input type="text" class="custom-input signin-input width10" placeholder="Email *" ng-model="thankyou.email" ng-class="allvalidation[1].validation" required>
            <button type="submit" class="createacc cpointer width10">Submit</button>
        </form>
        <!--
        <ol class="nxt1cont">
            <li>XYZ will be your point of contact you can call for any questions you have to regarding anything.</li>
            <li>We will send you regular reports via email.</li>
            <li>Follow us on our socail media where you will see updates on the work we are doing.</li>
            <li>Please check your email for vouchers from:</li>
        </ol>
-->

    </div>
</div>



<div class="story91">FOLLOW US ON SOCIAL MEDIA FOR STORIES OF IMPACT YOU'VE CREATED:</div>
<div class="container">
    <div class="social">
        <a href="https://www.facebook.com/powerforone?fref=ts" target="_blank" class="fb socio-btn">Facebook</a>
        <a href="https://twitter.com/mypowerforone" target="_blank" class="twit socio-btn">Twitter</a>
        <!--        <a href="#" class="goog socio-btn">Google+</a>-->
        <a href="https://in.pinterest.com/powerforone/" target="_blank" class="pin socio-btn">Pinterest</a>
    </div>
</div>