<div class="container">
    <div class="row">


        <div class="dear">DEAR <span class="dear2">XYZ</span>, YOU ARE TRULY AWESOME.
            <br>THANK YOU FOR TAKING THE TIME TO HELP
            <br>MAKE THE WORLD BETTER PLACE.
        </div>

    </div>
</div>



<div class="next1">NEXT STEPS:</div>


<div class="container">
    <div class="row">
       <div ng-bind-html="page.content | rawHtml">
           
       </div>
<!--
        <ol class="nxt1cont">
            <li>XYZ will be your point of contact you can call for any questions you have to regarding anything.</li>
            <li>We will send you regular reports via email.</li>
            <li>Follow us on our socail media where you will see updates on the work we are doing.</li>
            <li>Please check your email for vouchers from:</li>
        </ol>
-->
        <div class="container text-center margin-top-bot e-vouchers">
            <div class="row">
                <div class="col-xs-3" ng-repeat="coupon in coupons">
<!--                    <img src="images/pf_logo.png" alt="pepper-fry" class="image-responsive">-->
                    <img src="{{coupon.image | couponimagepath}}" alt="pepper-fry" class="image-responsive" height="66px" width="200px">
                </div>
<!--
                <div class="col-xs-3">
                    <img src="images/pf_logo.png" alt="pepper-fry" class="image-responsive">
                </div>
                <div class="col-xs-3">
                    <img src="images/pf_logo.png" alt="pepper-fry" class="image-responsive">
                </div>
                <div class="col-xs-3">
                    <img src="images/pf_logo.png" alt="pepper-fry" class="image-responsive">
                </div>
-->
            </div>
        </div>
    </div>
</div>



<div class="story91">SHARE THE STORY WITH YOUR FRIENDS AND FAMILY BELOW:</div>
<div class="container">
    <div class="social">
        <a href="https://www.facebook.com/powerforone?fref=ts" target="_blank" class="fb socio-btn">Facebook</a>
        <a href="https://twitter.com/mypowerforone" target="_blank" class="twit socio-btn">Twitter</a>
<!--        <a href="#" class="goog socio-btn">Google+</a>-->
        <a href="https://in.pinterest.com/powerforone/" target="_blank" class="pin socio-btn">Pinterest</a>
    </div>
</div>