<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="cat-justify ">
        <div class="aligndown">
               <h2 style="text-align:uppercase">WORK WITH US</h2>
                <p>We constantly remind ourselves that a company is nothing but a group of people who have come together to achieve a common objective.</p>

                <p>We are always looking to build a team of people who are passionate about making a change in the social impact space to help built scalable &amp; sustainable change. If you are one of those people- we want to hear from you.</p>
                <p>Why do you want to work with Power for One</p>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="formprarmy">
                <h2>APPLY NOW</h2>
                <form class="form-horizontal">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Number">
                    <input type="text" placeholder="Email">
                    <select name="" id="">
                        <option value="">Country</option>
                    </select>
                    <input type="text" placeholder="City">
                    <textarea placeholder="Message" required=""></textarea>
                    <button class="subbtn">SEND</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="learnmoreproarmy">
    <img src="images/learn_more.png" alt="" width="100%" height="100%">
</div>