<div class="container">
    <div class="cat-justify spacing">
        <p>1) Pick a Cause
            <br>Every project is carefully curated& screened to make sure of its authenticity</p>
        <p>2)Help out</p>
        <p>a) Make a Donation
            <br>You can support causes that you care about with as little as Rs.10</p>
        <p>b) Donate Socially with a Facebook/Twitter Post
            <br>Help amplify the reach of the causes you care about- post about this project socially and our corporate partners will contribute towards your project.</p>
        <p>3) Get Rewarded
            <br>We just want to say Thank you for taking the time and effort for being awesome- pick from some amazing offers from our brand partners!</p>
        <p>4) Maximize your Impact
            <br>Every Contribution you make on the Power for One platform gets doubled by our corporate partners- why give anywhere else?
        </p>
        <p>4) Monitor & review the Impact of your project
            <br>Our job does not end at raising funds, infact it starts there. We monitor & review the activities of our Ngo partners and send you monthly updates on the utilization of your funds as well as its impact</p>
        <p>5) Seeing is believing We are happy to organize physical meets between you and you
        </p>

    </div>
</div>