
   <div class="content paddingtop">
    <div class="container">
        <div class="row">
            
            
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">1</div>
                   
                    <img src="images/pick.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">PICK A CAUSE</h4>

                    <div class="cont">
                        <p class="text-center">Every project is carefully curated& screened to make sure of its authenticity.</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">2</div>
                   
                    <img src="images/donate.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">DONATE</h4>

                    <div class="cont">
                        <p class="text-center">You can support causes that you care about with as little as Rs.10.</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">3</div>
                   
                    <img src="images/give.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">GIVE SOCIALLY</h4>

                    <div class="cont">
                        <p class="text-center">Help amplify the reach of the causes you care about- post about this project socially and our corporate partners will contribute towards your project.</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">4</div>
                   
                    <img src="images/rewrd.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">GET REWARDED</h4>

                    <div class="cont">
                        <p class="text-center">We just want to say Thank you for taking the time and effort for being awesome- pick from some amazing offers from our brand partners!</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">5</div>
                   
                    <img src="images/maximize.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">MAXIMIZE YOUR IMPACT</h4>

                    <div class="cont">
                        <p class="text-center">Every Contribution you make on the Power for One platform gets doubled by our corporate partners- why give anywhere else?</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">6</div>
                   
                    <img src="images/monitor.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">MONITOR AND REVIEW</h4>

                    <div class="cont">
                        <p class="text-center">Our job does not end at raising funds, infact it starts there. We monitor & review the activities of our Ngo partners and send you monthly updates on the utilization of your funds as well as its impact</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
              
            
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">SEEING AND BELIEVING</div>
                   
                    <img src="images/see.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">PICK A CAUSE</h4>

                    <div class="cont">
                        <p class="text-center">Seeing is believing We are happy to organize physical meets between you and you</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
            
           
            <div class="col-md-8">


               
                    <h1 class="esy">ITS EASY!</h1>
                
                <div class="cont1">
                    <h5> If you think you have what its takes to make world a  better place,<br> its about time you clicked on the button below.</h5>
                </div>


                <a href="" class="explorep"> EXPLORE PROJECTS </a>

            </div>

        </div>



    </div>
</div>