
   <div class="content paddingtop">
    <div class="container" ng-bind-html="content.content | rawHtml">
<!--
        <div class="row">
            
            
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">1</div>
                   
                    <img src="images/pick.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">PICK A CAUSE</h4>

                    <div class="cont">
                        <p class="wrapper">Choose a project or cause that addresses a problem you are passionate about solving.</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
            <div class="col-md-8">  
            
                <div class="row">
                  <div class="box text-center marginlr">
                   <div class="oneround">2</div>
                    <div class="col-xs-6">

                        <div>



                            <img src="images/donate.jpg" class="img-responsive mainimg">

                                <h4 class="works-title">MAKE A DONATION</h4>

                            <div class="cont">
                                <p class="wrapper">No amount is too little. We urge you to give small amounts on a regular basis.</p>
                            </div>
                        </div>
                        <div>
                            <p class="vrline"></p>
                            <p class="vrcircle">OR</p>
                            <p class="vrline1"></p>
                        </div>
                    </div>




                    <div class="col-xs-6">

                        <div>



                            <img src="images/give.jpg" class="img-responsive mainimg">

                                <h4 class="works-title">RAISE AWARENESS</h4>

                            <div class="cont">
                                <p class="wrapper">For those of you who do not believe in making monetary donations but still want to help out, share the word by sharing on Social Media. Each post you make will trigger a donation from our Corporate partner towards a particular project.</p>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
           </div> 
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">3</div>
                   
                    <img src="images/maximize.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">DOUBLE YOUR IMPACT</h4>

                    <div class="cont">
                        <p class="wrapper">Every Contribution you make on the Power for One platform gets doubled by our corporate partners- why give anywhere else?</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">4</div>
                   
                    
                      <img src="images/rewrd.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">GET REWARDED</h4>

                    <div class="cont">
                        <p class="wrapper">We just want to say Thank you for taking the time and effort for being awesome- get access to some amazing offers from our brand partners!</p>
                    </div>
                </div>
            
            </div>
            
            
            
              
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">5</div>
                   
                    <img src="images/monitor.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">MONITOR AND REVIEW THE IMPACT OF YOUR PROJECT</h4>

                    <div class="cont">
                        <p class="wrapper">One of the key reasons why we exist is so that you know your money is being utilized effectively. We monitor & review the activities of our Ngo partners and send you monthly updates on the impact & the utilization of your funds.</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
              
            
            <div class="col-md-4">
               
                <div class="box text-center">
                  
               <div class="oneround">6</div>
                   
                    <img src="images/see.jpg" class="img-responsive mainimg">
                       
                        <h4 class="works-title">SEEING IS BELIEVING</h4>

                    <div class="cont">
                        <p class="wrapper">Apart from sending you pictures, videos & reports on the progress you have enabled, we are happy to arrange physical meets between you & your beneficiaries as per your request.</p>
                    </div>
                </div>
            
            </div>
            
            
            
            
            
           
            <div class="col-md-8">


               
                    <h1 class="esy">ITS EASY!</h1>
                
                <div class="cont1">
                    <h5> If you think you have what its takes to make world a  better place,<br> its about time you clicked on the button below.</h5>
                </div>


                <a href="" class="explorep"> EXPLORE PROJECTS </a>

            </div>

        </div>
-->



    </div>
</div>